
<div class="pfooter">
    <div class="w1200Auto">
        <div class="left f1">
            <div class="cnki_logo"><a href="https://cnki.net/" target="_blank"><img src="/images/indexImages/cnki_logo.png" alt=""></a></div>
            <p class="copyright"><a
                        href="https://ss.knet.cn/verifyseal.dll?sn=e13111111010043364isll000000&a=1&pa=0.08881110103584755"
                        target="_blank"><img src="/images/indexImages/copyright2.png" alt=""></a></p>
        </div>
        <div class="left f2">
            <div class="links">
                <a href="http://zhifu.cnki.net/" target="_blank" title="">充值中心</a>
                |
                <a href="http://vipcard.cnki.net/ec/skwd/skwd.htm" target="_blank" title="">购买会员卡</a>
                |
                <a href="http://mall.cnki.net/help/azydq.html" target="_blank" title="">安装阅读器</a>
                |
                <a href="http://service.cnki.net/helpcenter/Html/index.html?randomNum=942" target="_blank" title="">帮助中心</a>
            </div>
            <p>出版：《中国学术期刊（光盘版）》电子杂志社有限公司</p>
            <p>京ICP证040431号  <a href="http://piccache.cnki.net/index/images/gb/271.jpg" target="_blank">网络出版服务许可证（总）网出证（京）字第271号</a></p>
            <p>京公网安备 11010802020460号</p>
        </div>
        <div class="left f3">
            <p>服务咨询：400-810-9888 400-819-9993</p>
            <p>订购咨询：400-819-9993</p>
            <p>在线咨询：<a href="http://help.cnki.net/" target="_blank">http://help.cnki.net</a></p>
        </div>
        <div class="left f4">
            <img src="/images/indexImages/ewm.jpg" width="103" height="103" alt="">
            <p>扫一扫下载看典APP</p>
        </div>
    </div>
</div>