<!DOCTYPE html>
<html>
<head>
    <%- include('../layouts/headLayout', {}) %>
    <link rel="stylesheet" type="text/css" href="/css/mall/mall.css"/>
</head>
<body>
    <%- include('../layouts/mall/navLayout', {current: 0,sublogo:true}) %>
    <div class="free-banner"></div>
    <div class="free-main clearfix">
        <div class="free-tabnav clearfix">
            <a class="free-tabnav-item  free-tabnav-item-select" href="javascript:;">期 刊</a>
            <a class="free-tabnav-item" href="javascript:;">图 书</a>
        </div>
        <div class="free-content">
            <!-- 18条 -->
            <!-- 期刊 -->
            <div class="free-items clearfix">
                <div class="free-item clearfix">
                    <a class="free-item-img" href="" title="" target="_blank">
                        <img src="http://via.placeholder.com/150x213" alt="">
                    </a>
                    <p class="free-item-title"><a href="" title="标题" target="_blank">标标题标题a</p>
                    <p class="free-item-info">2015年第10期</p>
                </div>
                <div class="free-item clearfix">
                    <a class="free-item-img" href="" title="" target="_blank">
                        <img src="http://via.placeholder.com/150x213" alt="">
                    </a>
                    <p class="free-item-title"><a href="" title="标题" target="_blank">标标题标题sdrer标题标题题</a></p>
                    <p class="free-item-info">出版：漓江出版社</p>
                </div>
                <div class="free-item clearfix">
                    <a class="free-item-img" href="" title="" target="_blank">
                        <img src="http://via.placeholder.com/150x213" alt="">
                    </a>
                    <p class="free-item-title"><a href="" title="标题" target="_blank">标标题标题sdrer标题标题题</a></p>
                    <p class="free-item-info">出版：漓江出版社</p>
                </div>
                <div class="free-item clearfix">
                    <a class="free-item-img" href="" title="" target="_blank">
                        <img src="http://via.placeholder.com/150x213" alt="">
                    </a>
                    <p class="free-item-title"><a href="" title="标题" target="_blank">标标题标题sdrer标题标题题</a></p>
                    <p class="free-item-info">出版：漓江出版社</p>
                </div>
                <div class="free-item clearfix">
                    <a class="free-item-img" href="" title="" target="_blank">
                        <img src="http://via.placeholder.com/150x213" alt="">
                    </a>
                    <p class="free-item-title"><a href="" title="标题" target="_blank">标标题标题sdrer标题标题题</a></p>
                    <p class="free-item-info">出版：漓江出版社</p>
                </div>
                <div class="free-item clearfix">
                    <a class="free-item-img" href="" title="" target="_blank">
                        <img src="http://via.placeholder.com/150x213" alt="">
                    </a>
                    <p class="free-item-title"><a href="" title="标题" target="_blank">标标题标题sdrer标题标题题</a></p>
                    <p class="free-item-info">出版：漓江出版社</p>
                </div>
            </div>
            <!-- 图书 -->
            <div class="free-items free-book-items clearfix">
                <div class="free-item clearfix">
                    <a class="free-item-img" href="" title="" target="_blank">
                        <img src="http://via.placeholder.com/150x213" alt="">
                    </a>
                    <p class="free-item-title"><a href="" title="标题" target="_blank">书名</p>
                    <p class="free-item-info">章三 著</p>
                </div>
                <div class="free-item clearfix">
                    <a class="free-item-img" href="" title="" target="_blank">
                        <img src="http://via.placeholder.com/150x213" alt="">
                    </a>
                    <p class="free-item-title"><a href="" title="标题" target="_blank">标标题标题sdrer标题标题题</a></p>
                    <p class="free-item-info">出版：漓江出版社</p>
                </div>
                <div class="free-item clearfix">
                    <a class="free-item-img" href="" title="" target="_blank">
                        <img src="http://via.placeholder.com/150x213" alt="">
                    </a>
                    <p class="free-item-title"><a href="" title="标题" target="_blank">标标题标题sdrer标题标题题</a></p>
                    <p class="free-item-info">出版：漓江出版社</p>
                </div>
                <div class="free-item clearfix">
                    <a class="free-item-img" href="" title="" target="_blank">
                        <img src="http://via.placeholder.com/150x213" alt="">
                    </a>
                    <p class="free-item-title"><a href="" title="标题" target="_blank">标标题标题sdrer标题标题题</a></p>
                    <p class="free-item-info">出版：漓江出版社</p>
                </div>
                <div class="free-item clearfix">
                    <a class="free-item-img" href="" title="" target="_blank">
                        <img src="http://via.placeholder.com/150x213" alt="">
                    </a>
                    <p class="free-item-title"><a href="" title="标题" target="_blank">标标题标题sdrer标题标题题</a></p>
                    <p class="free-item-info">出版：漓江出版社</p>
                </div>
                <div class="free-item clearfix">
                    <a class="free-item-img" href="" title="" target="_blank">
                        <img src="http://via.placeholder.com/150x213" alt="">
                    </a>
                    <p class="free-item-title"><a href="" title="标题" target="_blank">标标题标题sdrer标题标题题</a></p>
                    <p class="free-item-info">出版：漓江出版社</p>
                </div>
            </div>
            <div class="booklist-pages">
                <span class="current">1</span>
                <a href="javascript:;">2</a>
                <a href="javascript:;">3</a>
                <a href="javascript:;">4</a>
                <a href="javascript:;">5</a>
                <span>...</span>
                <a href="javascript:;">下一页</a>
                <a href="javascript:;">尾页</a>
            </div>   
        </div>    
    </div>
    <%- include('../layouts/mall/footerLayout') %>
</body>
</html>
