<!DOCTYPE html>
<html>
<head>
    <%- include('../layouts/headLayout', {}) %>
    <link rel="stylesheet" type="text/css" href="/css/mall/mall.css"/>
    <script src="/js/jquery.cycle2.js"></script>
</head>
<body>
    <%- include('../layouts/mall/navLayout', {current: null,sublogo:false}) %>
    <div class="bannerArea">
        <div class="transition cycle-slideshow" data-cycle-pause-on-hover="true" data-cycle-slides=".slide"
             data-cycle-timeout="4000" data-cycle-pager=".slidePager" data-cycle-speed="1000" data-cycle-prev=".cycle-prev"
             data-cycle-next=".cycle-next">
            <div class="slide"><a href="#" target="_blank" class="pic3"></a></div>
            <div class="slide"><a href="#" target="_blank" class="pic2"></a></div>
            <div class="slide"><a href="#" target="_blank" class="pic1"></a></div>
        </div>
        <div class="slidePager"></div>
    </div>
    <div class="section s1">
        <a href="/mall/booklist" target="_blank"><img src="/images/mall/mall_link01.png" alt=""></a>
        <a href="/mall/rank" target="_blank"><img src="/images/mall/mall_link02.png" alt=""></a>
        <a href="/mall/free" target="_blank"><img src="/images/mall/mall_link03.png" alt=""></a>
        <a href="" target="_blank"><img src="/images/mall/mall_link04.png" alt=""></a>
    </div>
    <div class="section s2">
        <div class="s2-left">
            <div class="s-header clearfix">
                <span class="s-title">本周必读</span>
                <div class="tabnav">
                    <span class="current">晨读</span>
                    <span>夜读</span>
                </div>
            </div>
            <div class="s-body clearfix">
                <div class="book-first">
                    <div class="book-first-img">
                        <a href="" title="围城" target="_blank"><img src="http://via.placeholder.com/178x258" alt=""></a>
                    </div>
                    <p class="book-first-name"><a href="" title="围城" target="_blank">围城</a></p>
                    <p class="book-first-author">路易莎·梅·奥...  著</p>
                    <p class="book-first-abstract">莱昂纳多主演电影原著小说，世界文学史上的“完美之书”。村上春树文学创作的源泉，海明威、塞林格盛赞的经典。酷威文化酷威文化</p>
                </div>
                <div class="book-list clearfix">
                    <div class="book-list-item">
                        <div class="book-item-img">
                            <a href="" title="围城" target="_blank"><img src="http://via.placeholder.com/120x167" alt=""></a>
                        </div>
                        <p class="book-item-name"><a href="" title="围城" target="_blank">围城</a></p>
                        <p class="book-item-author">路易莎·梅·奥...  著</p>
                    </div>
                    <div class="book-list-item">
                        <div class="book-item-img">
                            <a href="" title="围城" target="_blank"><img src="http://via.placeholder.com/120x167" alt=""></a>
                        </div>
                        <p class="book-item-name"><a href="" title="围城" target="_blank">围城</a></p>
                        <p class="book-item-author">路易莎·梅·奥...  著</p>
                    </div>
                    <div class="book-list-item">
                        <div class="book-item-img">
                            <a href="" title="围城" target="_blank"><img src="http://via.placeholder.com/120x167" alt=""></a>
                        </div>
                        <p class="book-item-name"><a href="" title="围城" target="_blank">围城</a></p>
                        <p class="book-item-author">路易莎·梅·奥...  著</p>
                    </div>
                    <div class="book-list-item">
                        <div class="book-item-img">
                            <a href="" title="围城" target="_blank"><img src="http://via.placeholder.com/120x167" alt=""></a>
                        </div>
                        <p class="book-item-name"><a href="" title="围城" target="_blank">围城</a></p>
                        <p class="book-item-author">路易莎·梅·奥...  著</p>
                    </div>
                    <div class="book-list-item">
                        <div class="book-item-img">
                            <a href="" title="围城" target="_blank"><img src="http://via.placeholder.com/120x167" alt=""></a>
                        </div>
                        <p class="book-item-name"><a href="" title="围城" target="_blank">围城</a></p>
                        <p class="book-item-author">路易莎·梅·奥...  著</p>
                    </div>
                    <div class="book-list-item">
                        <div class="book-item-img">
                            <a href="" title="围城" target="_blank"><img src="http://via.placeholder.com/120x167" alt=""></a>
                        </div>
                        <p class="book-item-name"><a href="" title="围城" target="_blank">围城</a></p>
                        <p class="book-item-author">路易莎·梅·奥...  著</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="s2-right">
            <p class="s2-right-word">生命的暗哑，让脆弱无所遁形。浮生若梦，这一世红尘，这一世羁绊，不过一场是非之欢。</p>
            <p class="s2-right-source">——蓝紫青灰《理想国》</p>
            <img class="s2-right-img" src="http://via.placeholder.com/180x254" alt="">
        </div>
    </div>
    <div class="bgWrap">
        <div class="bgIcon"></div>
        <div class="section s3">
            <div class="s-title">好书共读</div>
            <div class="s-body clearfix">
                <div class="s-item clearfix">
                    <div class="book-img">
                        <a href="" title="围城" target="_blank"><img src="http://via.placeholder.com/152x220" alt=""></a>
                    </div>
                    <div class="book-detail">
                        <div class="book-name">
                            <a href="" title="围城" target="_blank">走进西藏</a>
                        </div>
                        <div class="book-author">吴伟著</div>
                        <div class="book-catalog">
                            <div class="book-catalog-item">
                                <a class="book-chapter-title" href="" target="_blank">佛心道骨儒为表，悲天悯人《走遍西藏》</a>
                                <div class="book-chapter-body">
                                    吴伟先生的新作《走遍西藏》,讲述了线的故事。小说以孙参的成长蜕变、救赎为脉络逐层深入,书写了个人奋斗、城...
                                    <a href="" target="_blank">【详细】</a>
                                </div>
                            </div>
                            <div class="book-catalog-item">
                                <a class="book-chapter-title" href="" target="_blank">佛心道骨儒为表，悲天悯人《走遍西藏》</a>
                            </div>
                            <div class="book-catalog-item">
                                <a class="book-chapter-title" href="" target="_blank">佛心道骨儒为表，悲天悯人《走遍西藏》</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="s-item clearfix">
                    <div class="book-img">
                        <a href="" title="围城" target="_blank"><img src="http://via.placeholder.com/152x220" alt=""></a>
                    </div>
                    <div class="book-detail">
                        <div class="book-name">
                            <a href="" title="围城" target="_blank">走进西藏</a>
                        </div>
                        <div class="book-author">吴伟著</div>
                        <div class="book-catalog">
                            <div class="book-catalog-item">
                                <a class="book-chapter-title" href="" target="_blank">佛心道骨儒为表，悲天悯人《走遍西藏》</a>
                                <div class="book-chapter-body">
                                    吴伟先生的新作《走遍西藏》,讲述了线的故事。小说以孙参的成长蜕变、救赎为脉络逐层深入,书写了个人奋斗、城...
                                    <a href="" target="_blank">【详细】</a>
                                </div>
                            </div>
                            <div class="book-catalog-item">
                                <a class="book-chapter-title" href="" target="_blank">佛心道骨儒为表，悲天悯人《走遍西藏》</a>
                            </div>
                            <div class="book-catalog-item">
                                <a class="book-chapter-title" href="" target="_blank">佛心道骨儒为表，悲天悯人《走遍西藏》</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section s4">
            <div class="s-item">
                <div class="s-header clearfix">
                    <span class="s-title">此时此刻 · 必读清单</span>
                    <a class="s-title-more" href="" target="_blank">查看更多 ></a>
                </div>
                <div class="s-body clearfix">
                    <a href="" title="围城" target="_blank"><img src="http://via.placeholder.com/253x98" alt=""></a>
                    <a href="" title="围城" target="_blank"><img src="http://via.placeholder.com/253x98" alt=""></a>
                    <a href="" title="围城" target="_blank"><img src="http://via.placeholder.com/253x98" alt=""></a>
                    <a href="" title="围城" target="_blank"><img src="http://via.placeholder.com/253x98" alt=""></a>
                </div>
            </div>
            <div class="s-item">
                <div class="s-header clearfix">
                    <span class="s-title">此情此景 · 必读清单</span>
                    <a class="s-title-more" href="" target="_blank">查看更多 ></a>
                </div>
                <div class="s-body clearfix">
                    <a href="" title="围城" target="_blank"><img src="http://via.placeholder.com/253x98" alt=""></a>
                    <a href="" title="围城" target="_blank"><img src="http://via.placeholder.com/253x98" alt=""></a>
                    <a href="" title="围城" target="_blank"><img src="http://via.placeholder.com/253x98" alt=""></a>
                    <a href="" title="围城" target="_blank"><img src="http://via.placeholder.com/253x98" alt=""></a>
                </div>
            </div>
        </div>
        <div class="section s5">
            <div class="s-header clearfix">
                <span class="s-title"><img src="/images/mall/mall_tit01.png" alt=""></span>
                <a class="s-title-more" href="" target="_blank">查看更多 ></a>
            </div>
            <div class="s-body clearfix">
                <a href="" target="_blank"><img src="http://via.placeholder.com/180x88" alt=""></a>
                <a href="" target="_blank"><img src="http://via.placeholder.com/180x88" alt=""></a>
                <a href="" target="_blank"><img src="http://via.placeholder.com/180x88" alt=""></a>
                <a href="" target="_blank"><img src="http://via.placeholder.com/180x88" alt=""></a>
                <a href="" target="_blank"><img src="http://via.placeholder.com/180x88" alt=""></a>
                <a href="" target="_blank"><img src="http://via.placeholder.com/180x88" alt=""></a>
            </div>
        </div>
    </div>
    <div class="section s6">
        <div class="s-header clearfix">
            <span class="s-title">新刊速递</span>
            <a class="s-title-more" href="" target="_blank">查看更多 ></a>
        </div>
        <div class="s-body clearfix">
            <div class="s-item">
                <a href="" title="围城" target="_blank">
                    <div class="periodical-img">
                        <img src="http://via.placeholder.com/151x215" alt="">
                    </div>
                    <div class="periodical-name">期刊名</div>
                    <div class="periodical-date">2019年第15期</div>
                </a>
            </div>
            <div class="s-item">
                <a href="" title="围城" target="_blank">
                    <div class="periodical-img">
                        <img src="http://via.placeholder.com/151x215" alt="">
                    </div>
                    <div class="periodical-name">期刊名</div>
                    <div class="periodical-date">2019年第15期</div>
                </a>
            </div>
            <div class="s-item">
                <a href="" title="围城" target="_blank">
                    <div class="periodical-img">
                        <img src="http://via.placeholder.com/151x215" alt="">
                    </div>
                    <div class="periodical-name">期刊名</div>
                    <div class="periodical-date">2019年第15期</div>
                </a>
            </div>
            <div class="s-item">
                <a href="" title="围城" target="_blank">
                    <div class="periodical-img">
                        <img src="http://via.placeholder.com/151x215" alt="">
                    </div>
                    <div class="periodical-name">期刊名</div>
                    <div class="periodical-date">2019年第15期</div>
                </a>
            </div>
            <div class="s-item">
                <a href="" title="围城" target="_blank">
                    <div class="periodical-img">
                        <img src="http://via.placeholder.com/151x215" alt="">
                    </div>
                    <div class="periodical-name">期刊名</div>
                    <div class="periodical-date">2019年第15期</div>
                </a>
            </div>
            <div class="s-item">
                <a href="" title="围城" target="_blank">
                    <div class="periodical-img">
                        <img src="http://via.placeholder.com/151x215" alt="">
                    </div>
                    <div class="periodical-name">期刊名</div>
                    <div class="periodical-date">2019年第15期</div>
                </a>
            </div>
        </div>
    </div>
    <div class="section s7">
        <div class="wrap">
            <div class="s-header clearfix">
                <span class="s-title">新书抢先</span>
                <a class="s-title-more" href="" target="_blank">查看更多 ></a>
            </div>
            <div class="s-body clearfix">
                <div class="s-item clearfix">
                    <div class="book-img">
                        <a href="" title="围城" target="_blank"><img src="http://via.placeholder.com/128x185" alt=""></a>
                    </div>
                    <div class="book-detail">
                        <div class="book-name">
                            <a href="" title="围城" target="_blank">走进西藏</a>
                        </div>
                        <div class="book-author">吴伟著</div>
                        <div class="book-abstract">摘要摘要摘要摘要摘要要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要......</div>
                        <div class="book-tags">
                            <span>标签标签</span>
                            <span>标签</span>
                        </div>
                    </div>
                </div>
                <div class="s-item clearfix">
                    <div class="book-img">
                        <a href="" title="围城" target="_blank"><img src="http://via.placeholder.com/128x185" alt=""></a>
                    </div>
                    <div class="book-detail">
                        <div class="book-name">
                            <a href="" title="围城" target="_blank">走进西藏</a>
                        </div>
                        <div class="book-author">吴伟著</div>
                        <div class="book-abstract">摘要摘要摘要摘要摘要要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要......</div>
                        <div class="book-tags">
                            <span>标签标签</span>
                            <span>标签</span>
                        </div>
                    </div>
                </div>
                <div class="s-item clearfix">
                    <div class="book-img">
                        <a href="" title="围城" target="_blank"><img src="http://via.placeholder.com/128x185" alt=""></a>
                    </div>
                    <div class="book-detail">
                        <div class="book-name">
                            <a href="" title="围城" target="_blank">走进西藏</a>
                        </div>
                        <div class="book-author">吴伟著</div>
                        <div class="book-abstract">摘要摘要摘要摘要摘要要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要......</div>
                        <div class="book-tags">
                            <span>标签标签</span>
                            <span>标签</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section s8">
        <div class="s-title">热门分类</div>
        <div class="s-body clearfix">
            <a href="" target="_blank"><img src="http://via.placeholder.com/180x88" alt=""></a>
            <a href="" target="_blank"><img src="http://via.placeholder.com/180x88" alt=""></a>
            <a href="" target="_blank"><img src="http://via.placeholder.com/180x88" alt=""></a>
            <a href="" target="_blank"><img src="http://via.placeholder.com/180x88" alt=""></a>
            <a href="" target="_blank"><img src="http://via.placeholder.com/180x88" alt=""></a>
            <a href="" target="_blank"><img src="http://via.placeholder.com/180x88" alt=""></a>            
        </div>
    </div>
    <div class="section s9">
        <div class="wrap clearfix">
            <div class="s-title"><img src="/images/mall/mall_tit02.png" alt=""></div>
            <div class="s-body clearfix">
                <a class="s-item" href="" title="围城" target="_blank">
                    <img src="http://via.placeholder.com/95x95" alt="">
                    <p>中国青年文艺理论出版社</p>
                </a>
                <a class="s-item" href="" title="围城" target="_blank">
                    <img src="http://via.placeholder.com/95x95" alt="">
                    <p>中国青年文艺理论<br>出版社</p>
                </a>
                <a class="s-item" href="" title="围城" target="_blank">
                    <img src="http://via.placeholder.com/95x95" alt="">
                    <p>中国青年文艺理论出版社</p>
                </a>
                <a class="s-item" href="" title="围城" target="_blank">
                    <img src="http://via.placeholder.com/95x95" alt="">
                    <p>中国青年文艺理论出版社</p>
                </a>
                <a class="s-item" href="" title="围城" target="_blank">
                    <img src="http://via.placeholder.com/95x95" alt="">
                    <p>中国青年文艺理论出版社</p>
                </a>
            </div>
        </div>
    </div>
    <%- include('../layouts/mall/footerLayout') %>
    <script src="/js/mall/home.js"></script>
</body>
</html>
