<!DOCTYPE html>
<html>
<head>
    <%- include('../layouts/headLayout', {}) %>
    <link rel="stylesheet" type="text/css" href="/css/mall/mall.css"/>
</head>
<body>
    <%- include('../layouts/mall/navLayout', {current: 0,sublogo:true}) %>
    <!-- 免费 -->
    <div class="rank-banner"></div>
    <div class="rank-main clearfix">
        <div class="rank-sidebar clearfix">
            <div class="rank-sidebar-title">全部排行</div>
            <div class="rank-sidebar-body rank-sidebar-magabody"></div>
            <div class="rank-sidebar-body rank-sidebar-bookbody"></div>
        </div>
        <div class="rank-content">
            <div class="rank-tabnav">
                <a class="rank-tabnav-item  rank-tabnav-item-select" href="javascript:;">期 刊</a>
                <a class="rank-tabnav-item" href="javascript:;">图 书</a>
            </div>
            <!-- 10条 -->
            <!-- 期刊 -->
            <div class="rank-items clearfix">
                <div class="rank-item clearfix">
                    <a class="rank-item-img" href="" title="" target="_blank">
                        <span class="rank-number rank-number1"></span>
                        <img src="http://via.placeholder.com/110x154" alt="">
                    </a>
                    <div class="rank-item-info">
                        <p class="rank-item-title"><a href="" title="标题" target="_blank">标题</a></p>
                        <p class="rank-item-author">出版：漓江出版社</p>
                        <p class="rank-item-detail">
                            主办：<span>漓江出版社</span>  / 刊期：<span>双月刊</span> /  出版地：<span>2安徽省芜湖市</span> /  语种：<span>中文</span> / ISBN：<span>978-7-5407-7525-4</span>
                        </p>
                        <p class="rank-periodcal-month">
                            2019年：
                            <a href="" target="_blank">06期</a>
                            <a href="" target="_blank">05期</a>
                            <a href="" target="_blank">04期</a>
                            <a href="" target="_blank">03期</a>
                            <a href="" target="_blank">02期</a>
                            <a href="" target="_blank">01期</a>
                        </p>
                        <p class="rank-periodcal-year">
                            <a href="" target="_blank">2019年</a>/ 
                            <a href="" target="_blank">2016年</a>/ 
                            <a href="" target="_blank">2014年</a>/ 
                            <a href="" target="_blank">2013年</a>/ 
                            <a href="" target="_blank">2012年</a>/ 
                        </p>
                    </div>
                </div>
                <div class="rank-item clearfix">
                    <a class="rank-item-img" href="" title="" target="_blank">
                        <span class="rank-number rank-number2"></span>
                        <img src="http://via.placeholder.com/110x154" alt="">
                    </a>
                    <div class="rank-item-info">
                        <p class="rank-item-title"><a href="" title="标题" target="_blank">标题</a></p>
                        <p class="rank-item-author">出版：漓江出版社</p>
                        <p class="rank-item-detail">
                            主办：<span>漓江出版社</span>  / 刊期：<span>双月刊</span> /  出版地：<span>2安徽省芜湖市</span> /  语种：<span>中文</span> / ISBN：<span>978-7-5407-7525-4</span>
                        </p>
                        <p class="rank-periodcal-month">
                            2019年：
                            <a href="" target="_blank">06期</a>
                            <a href="" target="_blank">05期</a>
                            <a href="" target="_blank">04期</a>
                            <a href="" target="_blank">03期</a>
                            <a href="" target="_blank">02期</a>
                            <a href="" target="_blank">01期</a>
                        </p>
                        <p class="rank-periodcal-year">
                            <a href="" target="_blank">2019年</a>/ 
                            <a href="" target="_blank">2016年</a>/ 
                            <a href="" target="_blank">2014年</a>/ 
                            <a href="" target="_blank">2013年</a>/ 
                            <a href="" target="_blank">2012年</a>/ 
                        </p>
                    </div>
                </div>
                <div class="rank-item clearfix">
                    <a class="rank-item-img" href="" title="" target="_blank">
                        <span class="rank-number rank-number3"></span>
                        <img src="http://via.placeholder.com/110x154" alt="">
                    </a>
                    <div class="rank-item-info">
                        <p class="rank-item-title"><a href="" title="标题" target="_blank">标题</a></p>
                        <p class="rank-item-author">出版：漓江出版社</p>
                        <p class="rank-item-detail">
                            主办：<span>漓江出版社</span>  / 刊期：<span>双月刊</span> /  出版地：<span>2安徽省芜湖市</span> /  语种：<span>中文</span> / ISBN：<span>978-7-5407-7525-4</span>
                        </p>
                        <p class="rank-periodcal-month">
                            2019年：
                            <a href="" target="_blank">06期</a>
                            <a href="" target="_blank">05期</a>
                            <a href="" target="_blank">04期</a>
                            <a href="" target="_blank">03期</a>
                            <a href="" target="_blank">02期</a>
                            <a href="" target="_blank">01期</a>
                        </p>
                        <p class="rank-periodcal-year">
                            <a href="" target="_blank">2019年</a>/ 
                            <a href="" target="_blank">2016年</a>/ 
                            <a href="" target="_blank">2014年</a>/ 
                            <a href="" target="_blank">2013年</a>/ 
                            <a href="" target="_blank">2012年</a>/ 
                        </p>
                    </div>
                </div>
            </div>
            <!-- 图书 -->
            <div class="rank-items rank-book-items clearfix">
                <div class="rank-item clearfix">
                    <a class="rank-item-img" href="" title="" target="_blank">
                        <span class="rank-number rank-number1"></span>
                        <img src="http://via.placeholder.com/110x154" alt="">
                    </a>
                    <div class="rank-item-info">
                        <p class="rank-item-title"><a href="" title="标题" target="_blank">标题</a></p>
                        <p class="rank-item-author">张三 著</p>
                        <p class="rank-item-detail">
                            出版：<span>漓江出版社</span>  / 出版时间：<span>2015-05-01</span> / ISBN：<span>978-7-5407-7525-4</span> / 字数：<span>200千字</span>
                        </p>
                        <p class="rank-item-intro">张三 著</p>
                    </div>
                </div>
                <div class="rank-item clearfix">
                    <a class="rank-item-img" href="" title="" target="_blank">
                        <span class="rank-number rank-number2"></span>
                        <img src="http://via.placeholder.com/110x154" alt="">
                    </a>
                    <div class="rank-item-info">
                        <p class="rank-item-title"><a href="" title="标题" target="_blank">标题</a></p>
                        <p class="rank-item-author">张三 著</p>
                        <p class="rank-item-detail">
                            出版：<span>漓江出版社</span>  / 出版时间：<span>2015-05-01</span> / ISBN：<span>978-7-5407-7525-4</span> / 字数：<span>200千字</span>
                        </p>
                        <p class="rank-item-intro">张三 著</p>
                    </div>
                </div>
                <div class="rank-item clearfix">
                    <a class="rank-item-img" href="" title="" target="_blank">
                        <span class="rank-number rank-number3"></span>
                        <img src="http://via.placeholder.com/110x154" alt="">
                    </a>
                    <div class="rank-item-info">
                        <p class="rank-item-title"><a href="" title="标题" target="_blank">标题</a></p>
                        <p class="rank-item-author">张三 著</p>
                        <p class="rank-item-detail">
                            出版：<span>漓江出版社</span>  / 出版时间：<span>2015-05-01</span> / ISBN：<span>978-7-5407-7525-4</span> / 字数：<span>200千字</span>
                        </p>
                        <p class="rank-item-intro">张三 著</p>
                    </div>
                </div>
                <div class="rank-item clearfix">
                    <a class="rank-item-img" href="" title="" target="_blank">
                        <img src="http://via.placeholder.com/110x154" alt="">
                    </a>
                    <div class="rank-item-info">
                        <p class="rank-item-title"><a href="" title="标题" target="_blank">标题</a></p>
                        <p class="rank-item-author">张三 著</p>
                        <p class="rank-item-detail">
                            出版：<span>漓江出版社</span>  / 出版时间：<span>2015-05-01</span> / ISBN：<span>978-7-5407-7525-4</span> / 字数：<span>200千字</span>
                        </p>
                        <p class="rank-item-intro">张三 著</p>
                    </div>
                </div>
            </div>
            <div class="booklist-pages">
                <span class="current">1</span>
                <a href="javascript:;">2</a>
                <a href="javascript:;">3</a>
                <a href="javascript:;">4</a>
                <a href="javascript:;">5</a>
                <span>...</span>
                <a href="javascript:;">下一页</a>
                <a href="javascript:;">尾页</a>
            </div>      
        </div>
    </div>
    <%- include('../layouts/mall/footerLayout') %>
    <script src="/js/plugin/jquery.methods.js"></script>
    <script>
        getRankList();
        function getRankList() {
            var url = '/mall/getRankList';
            $.ajax({
                type: "GET",
                url: url, 
                dataType: "json",
                success: function(data) {
                    if (data && data.length > 0){
                        var bookStr = '' ,magaStr = '';
                        var bookArr = [] , magaArr = [];
                        for (var i = 0; i < data.length; i++) {
                            if(data[i].rankingType == 'book'){
                                // bookArr.push(data[i]);
                                bookStr += '<span class="rank-sidebar-item">'+data[i].title+'</span>';
                            }else{
                                // magaArr.push(data[i]);
                                magaStr += '<span class="rank-sidebar-item">'+data[i].title+'</span>';        
                            }
                        }
                        $('.rank-sidebar-bookbody').html(bookStr);
                        $('.rank-sidebar-magabody').html(magaStr);
                        $('.rank-sidebar-body').children().eq(0).addClass('rank-sidebar-item-select');
                        // var pageStr = $.kd.outputPager(total, limit, 5, pageNum);
                        // $('.booklist-pages').html(pageStr);
                    }
                }
            });
        }
        // $('.booklist-pages').on('click', 'a', function() {
        //     var pageNum = $(this).attr('data-page');
        //     getBooklistDetail(booklistId,pageNum);
        // });
        $('.rank-tabnav-item').click(function () {
            var index = $(this).index();
            $(this).addClass('rank-tabnav-item-select').siblings().removeClass('rank-tabnav-item-select');
            $('.rank-sidebar-body').hide();
            $('.rank-sidebar-body').eq(index).show();
        });
    </script>
</body>
</html>
