<!DOCTYPE html>
<html>
<head>
    <%- include('../layouts/headLayout', {}) %>
    <link rel="stylesheet" type="text/css" href="/css/payment/payment.css"/>
    <!--<script src="/js/jquery-tableMenu.js" type="text/javascript" charset="utf-8"></script>-->
</head>
<body bgcolor="#EBEFF5">
<%- include('../layouts/navLayout', {current: null}) %>
<div class="payBg">
    <div class="payWrap">
        <div class="orderNum">订单编号：<span>R201910180000001</span></div>
        <div class="orderInfo membersOrderInfo clearfix">
            <div class="oil left">
                <div class="img left">
                    <img src="/images/payment/pay-bgimg.jpg"/>
                	<p class="text">包月会员</p>
                </div>
                <div class="name left">
                	<p>看典VIP包月会员</p>
                </div>
            </div>
            <div class="oir left">
                <% var flag=0 %>
                <% if(flag){ %>
                <p class="p2">订单金额：<span class="red">10.00 </span>元</p>
                <% } else{%>
                    <p class="p2 spec">订单金额：<span class="red">10.00 </span>元</p>
                    <p class="p3">文献库机构用户<span>立减 <i>3</i> 元</span></p>
                <% } %>   
            </div>
        </div>
        <div class="payWays">
            <div id="payTab" class="pay-tab">
                <a data-channel="1" href="javascript:;" class="cur">余额支付</a>
                <a data-channel="12" href="javascript:;">微信支付</a>
                <a data-channel="13" href="javascript:;">支付宝</a>
                <a data-channel="0" href="javascript:;">银联在线</a>
            </div>
            <!--余额支付-->
            <div class="pay-cont ye" style="display: block;">
                <div class="tit">
                    <p class="detail">您的账户适用金额：<span class="red">319.91</span>元 <span
                                class="tip">（含赠券<i>25.22</i>元）</span></p>
                    <a href="#" class="je">适用金额</a>
                </div>
                <div class="ways-area">
                    <p class="p1">您应支付金额为：<span class="red">10.00 </span>元</p>
                    <p class="p2">确认支付，系统将从您的账户中扣除 <i>10.00</i> 元</p>
                    <p class="p3">
                        
                        您的账户余额不足！
                       
                    </p>
                </div>
                
                <a target="_blank" id="charge" href="/recharge/home" class="sure">立即充值</a>
                
                <a id="confirmPay" href="javascript:;" class="sure">确认支付</a>
                
            </div>
            <!--微信支付-->
            <div class="pay-cont wechatpay">
                <div class="qcode left">
                    <img src=""/>
                    <p class="text">请使用微信扫一扫<br/>扫描二维码支付</p>
                </div>
                <img class="mobile" src="/images/payment/pay-icon5.jpg"/>
            </div>
            <!--支付宝-->
            <div class="pay-cont alipay">
                <div class="qcode left">
                    <!--<img src="/images/payment/pay-ewm.jpg"/>-->
                    <div class="ewmBox"></div>
                    <p class="text">打开手机支付宝<br/>扫一扫继续付款</p>
                </div>
                <img class="mobile" src="/images/payment/pay-icon6.jpg"/>
                <div class="pcpay">
                    <p class="tip">您也可以登录电脑版<br/>支付宝进行支付</p>
                    <a href="#" class="go">去支付</a>
                </div>
            </div>
            <!--银联在线-->
            <div class="pay-cont unionpay">
                <div class="tit">
                    <p class="detail">银联在线平台：无需开通网银用户，卡面有银联标识的银行卡均可通过银联平台进行支付，涵盖借记卡和信用卡等。</p>
                </div>
                <div class="ways-area">
                    <div class="logo"><img src="/images/payment/pay-icon8.gif"></div>
                    <a href="" class="go">去支付</a>
                </div>
            </div>

        </div>
    </div>
</div>
<%- include('../layouts/footerLayout', {}) %>
<script type="text/javascript">
    'use strict'

    // JavaScript Document
    /* 实现页面的点击或鼠标移动的切换
     * controlNodes为用户点击的节点
     * displayNodes为用户点击后切换的部分的节点
     * mode可选择click或者mouseover两种模式
     * afterClass为用户点击表头样式
     * beforeClass为表头未点击样式
    */
    function TableTransition(controlNodes, displayNodes, mode, afterClass, beforeClass) {
        if (mode) {
            if (mode == "click") {
                controlNodes.click(function () {
                    var index = controlNodes.index(this);
                    channel = controlNodes.eq(index).attr('data-channel'); // 获取支付方式
                    controlNodes.removeClass(afterClass).addClass(beforeClass);
                    $(this).removeClass(beforeClass).addClass(afterClass);
                    if (displayNodes) {
                        displayNodes.css("display", "none");
                        displayNodes.eq(index).css("display", "block");
                    }
                })
            }
        } else {
        }
    }

    var confirmPay = $('#confirmPay');
    var workId = $('#workId').val();
    var mediaType = $('#mediaType').val();
    var channel = 1; // 取值1（余额）12（微信WEB二维码URL）13（支付宝WEB二维码页面）
    var orderType = $('#orderType').val();
    var year = $('#year').val();
    var period = $('#period').val();
    TableTransition($(".pay-tab a"), $(".pay-cont"), "click", "cur");

    // 确认支付
    confirmPay.click(function () {
        var confirmPayUrl = '/payment/confirmPay?id=' + workId + '&channel=' + channel + '&orderType=' + orderType + '&year=' + year + '&period=' + period;
        $.ajax({
            url: confirmPayUrl,
            dataType: "json",
            type: "get",
            success: function (response) {
                if (response.errorCode == 1) {
                    location.href = '/payment/success?id=' + workId + '&mediatype=' + mediaType;
                } else {
                    alert(response)
                }
            },
            error: function (error) {
                //请求出错处理
                console.log(error);
            }
        });
    })

    // 查询微信、支付宝支付订单

    var alipayOrder = $('#alipayOrder').val();
    var wechatOrder = $('#wechatOrder').val();
    var orderCheckUrl = '';
    var flag = false;

    // 查询订单支付状态
    var timer = setInterval(function () {
        if (!flag) {
            orderCheckUrl = '/recharge/orderCheck?id=' + alipayOrder + '&payType=alipay';
        } else {
            orderCheckUrl = '/recharge/orderCheck?id=' + wechatOrder + '&payType=wechat';
        }
        flag = !flag;
        $.ajax({
            url: orderCheckUrl,
            dataType: "json",
            type: "get",
            success: function (response) {
                if (response.errorCode == 1) {
                    clearInterval(timer);
                    // $('#rechargeTime').val(Date.now());
                    location.href = '/payment/success?id=' + workId + '&mediatype=' + mediaType;
                } else {
                    console.log('暂未查到充值成功反馈');
                }
                console.log(response)
            },
            error: function (error) {
                //请求出错处理
                console.log(error);
            }
        });
    }, 2000000);


</script>

</body>
</html>