<div class="userSelect">
    <p class="username"><a class="avatar" href="javascript:;"><img
                    src="/images/indexImages/userCenter1.png"></a><a
                href="javascript:;" class="name"><%= viewModel.user.name %></a></p>
    <ul class="clearfix">
        <li><a class="icon1" href="/pc/collected">我的收藏</a></li>
        <li><a class="icon2" href="/pc/purchased">我的已购</a></li>
        <li><a class="icon3" href="/personalCenter/home">我的朗读</a></li>
        <li><a class="icon4" href="/personalCenter/follow">我的机构</a></li>
        <li><a class="icon5" href="/personalCenter/myAccount">我的账户</a></li>
        <li><a class="icon6" href="/recharge/home">充值中心</a></li>
        <li><a class="icon7" href="/personalCenter/message">消息中心</a></li>
        <li><a class="icon8" href="/personalCenter/personalInfo">账号设置</a></li>
        <li><a class="icon9" href="/userCenter/quit">退出登录</a></li>
    </ul>
</div>
<script>
    (function () {
        var time = 200;
        var usp = $('.userSelect p');
        var usul = $('.userSelect ul');
        usp.click(function (e) {
            var event = e || window.event;
            event.stopPropagation();
            event.cancelable = true;
            $(this).siblings('ul').slideDown(time);
        })
        usul.hover(function () {
            // $(this).siblings('ul').slideUp(time);
        }, function () {
            $(this).slideUp(time);
        })
        usul.children('li').click(function () {
            $(this).parent('ul').slideUp(time);
        })
        $('.pheader').click(function () {
            usul.slideUp(time);
        })
    })()
</script>