@charset "utf-8";
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
p,
th,
td,
form,
body {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "微软雅黑";
  font-size: 12px;
  color: #000;
}
img {
  border: none;
}
strong,
i {
  font-style: normal;
}
ul,
li,
ol {
  list-style-type: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
input::-ms-clear {
  display: none;
}
input[type="button"] {
  cursor: pointer;
}
input,
textarea {
  outline: none;
}
/*input { border:0; background-color:transparent;}*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
a {
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.positionR {
  position: relative;
}
.positionA {
  position: absolute;
}
.padding10px {
  padding: 10px;
}
.paddingTB10px {
  padding: 10px 0;
}
.paddingL10px {
  padding-left: 10px;
}
.paddingLR10px {
  padding: 0 10px;
}
.paddingLR15px {
  padding: 0 15px;
}
.paddingB10px {
  padding-bottom: 10px;
}
.marginT10px {
  margin-top: 10px;
}
.marginT15px {
  margin-top: 15px;
}
.overflowHidden {
  overflow: hidden;
}
.positionR {
  position: relative;
}
.textAlignC {
  text-align: center;
}
.displayB {
  display: block;
}
.displayN {
  display: none;
}
.fontWeightN {
  font-weight: normal;
}
.fontSize14px {
  font-size: 14px;
}
.colorGrey {
  color: #999999;
}
/* grey */
.colorYellowishBrown {
  color: #c29721;
}
/* yellowish-brown */
.colorBlackRed {
  color: #331303;
}
.colorRed {
  color: #e9254b;
}
.colorOrange {
  color: #ed5637;
}
.colorWhite {
  color: #fff;
}
.colorYellow {
  color: #cd4502;
}
.colorOrange1 {
  color: #ff9702;
}
.colorBlue {
  color: #0386d9;
}
.bgColorBlue {
  background-color: #5daae2;
}
.bgColorDeepBlue {
  background-color: #5296d0;
}
.bgColorGreen {
  background-color: #55d3a6;
}
.bgColorDeepGreen {
  background-color: #4bbe93;
}
.bgColorFruitGreen {
  background-color: #97b832;
}
.bgColorDeepFruitGreen {
  background-color: #85a32c;
}
.bgColorBrown {
  background-color: #cd913c;
}
.bgColorDeepBrown {
  background-color: #b88035;
}
.bgColorLightGray {
  background-color: #f9f9f9;
}
.borderR1SGrey {
  border-right: 1px solid #dfdfdf;
}
.borderRed {
  border: 1px solid #e60000;
}
.borderWhite {
  border: 1px solid #fff;
}
.borderRed1 {
  border: 1px solid #feb38c;
}
.width1190pxAuto {
  width: 1190px;
  margin: 0 auto;
}
.width1046pxAuto {
  width: 1046px;
  margin: 0 auto;
}
.width808pxAuto {
  width: 808px;
  margin: 0 auto;
}
.width1000pxAuto {
  width: 1000px;
  margin: 0 auto;
}
[v-cloak] {
  display: none;
}
/*mask layer*/
.shade {
  background-color: rgba(191, 191, 191, 0.5);
  position: absolute;
  _background: #bfbfbf;
  _filter: alpha(opacity=50);
  left: 0px;
  top: 0px;
}
/*page layer*/
.page {
  color: #7F7F7F;
  text-align: center;
  padding-top: 50px;
  padding-right: 3px;
  padding-bottom: 50px;
  padding-left: 3px;
}
.page a {
  color: #6a6a6a;
  margin-right: 5px;
  padding: 13px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  background-color: #f1f1f1;
}
.page a:hover {
  color: #fff;
  background-color: #666666;
}
.page a:active {
  background: none repeat scroll 0 0 #0061de;
  border-color: #000;
  border-style: solid;
  border-width: 1px;
  color: #fff;
}
.page span.current {
  background-color: #666666;
  color: #fff;
  margin-right: 5px;
  padding: 13px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
.page span.disabled {
  color: #378713;
  margin-right: 3px;
  padding: 2px 6px;
}
/*header*/
.pheader {
  height: 71px;
  background-color: #424242;
}
.pheader .phwrap {
  width: 1200px;
  margin: 0 auto;
  height: 71px;
}
.pheader .phwrap {
  width: 1205px;
  margin: 0 auto;
  height: 71px;
}
.pheader .phwrap .logoimg {
  float: left;
  margin-right: 40px;
  font-size: 0;
}
.pheader .phwrap .logo {
  float: left;
  height: 71px;
}
.pheader .phwrap .hl {
  line-height: 71px;
  height: 71px;
}
.pheader .phwrap .hl a {
  color: #ffffff;
  font-size: 16px;
  margin-right: 28px;
}
.pheader .phwrap .hl a.cur {
  font-weight: bold;
  color: #ff3000;
}
.pheader .phwrap .hr {
  line-height: 71px;
}
.pheader .phwrap .hr a {
  float: right;
  font-size: 14px;
  color: #ffffff;
}
.pheader .phwrap .hr .line {
  float: right;
  width: 0;
  height: 16px;
  border-left: 1px solid #ffffff;
  margin: 28px 12px 0;
}
.pheader .phwrap .hr .search {
  margin-right: 16px;
  position: relative;
  width: 216px;
  height: 37px;
  margin-top: 18px;
}
.pheader .phwrap .hr .search input {
  float: right;
  border: none;
  width: 0px;
  height: 37px;
  line-height: 37px;
  border-radius: 18px;
  transition: all 0.3s ease-in-out;
}
.pheader .phwrap .hr .search input.click {
  width: 164px;
  padding: 0 8px ;
}
.pheader .phwrap .hr .search .btn {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../images/indexImages/icon1.png) no-repeat;
  top: 9px;
  right: 12px;
}
.pheader .phwrap .logo {
  float: left;
  height: 71px;
  margin-right: 20px;
}
/*pfooter*/
.pfooter {
  height: 170px;
  padding-top: 23px;
  background-color: #424242;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #dcdcdc;
  min-width: 1200px;
}
.w1200Auto {
  width: 1200px;
  margin: 0 auto;
}
.pfooter .links {
  margin-left: -20px;
  margin-bottom: 14px;
}
.pfooter a {
  color: #dcdcdc;
}
.pfooter .links a {
  margin: 0 20px;
}
.pfooter .f2,
.pfooter .f3 {
  line-height: 30px;
}
.pfooter .f1,
.pfooter .f3 {
  margin: 0 50px;
}
.pfooter .f1 {
  padding-top: 12px;
}
.pfooter .f2 {
  padding-top: 7px;
}
.pfooter .f3 {
  padding-top: 52px;
}
.pfooter .f4 {
  width: 130px;
  text-align: center;
}
.pfooter .f4 img {
  margin-bottom: 12px;
}
.pfooter .copyright {
  margin-top: 30px;
}
.header .headerWrap .hr .userSelect,
.pheader .phwrap .hr .userSelect,
.aheader .ahwrap div.right .userSelect {
  position: relative;
  width: 163px;
  float: right;
}
.header .headerWrap .hr .userSelect .username,
.pheader .phwrap .hr .userSelect .username,
.aheader .ahwrap div.right .userSelect .username {
  cursor: pointer;
  height: 71px;
  line-height: 71px;
  color: #bbb;
  font-size: 12px;
  background: url("../images/indexImages/userCenter2.png") no-repeat right center;
}
.header .headerWrap .hr .userSelect .username .avatar,
.pheader .phwrap .hr .userSelect .username .avatar,
.aheader .ahwrap div.right .userSelect .username .avatar {
  float: left;
  width: 40px;
  height: 30px;
  margin-top: 10px;
  padding: 0;
}
.header .headerWrap .hr .userSelect .username .avatar img,
.pheader .phwrap .hr .userSelect .username .avatar img,
.aheader .ahwrap div.right .userSelect .username .avatar img {
  width: 30px;
  height: 30px;
}
.header .headerWrap .hr .userSelect .username .name,
.pheader .phwrap .hr .userSelect .username .name,
.aheader .ahwrap div.right .userSelect .username .name {
  float: left;
  width: 112px;
  height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0;
}
.header .headerWrap .hr .userSelect .homeUl,
.pheader .phwrap .hr .userSelect .homeUl,
.aheader .ahwrap div.right .userSelect .homeUl,
.header .headerWrap .hr .userSelect ul,
.pheader .phwrap .hr .userSelect ul,
.aheader .ahwrap div.right .userSelect ul {
  z-index: 100;
  position: absolute;
  top: 70px;
  left: 0;
  display: none;
  padding-bottom: 10px;
  background-color: #434343;
  width: 100%;
  overflow: hidden;
}
.header .headerWrap .hr .userSelect .homeUl .homeLi,
.pheader .phwrap .hr .userSelect .homeUl .homeLi,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi,
.header .headerWrap .hr .userSelect ul .homeLi,
.pheader .phwrap .hr .userSelect ul .homeLi,
.aheader .ahwrap div.right .userSelect ul .homeLi,
.header .headerWrap .hr .userSelect .homeUl li,
.pheader .phwrap .hr .userSelect .homeUl li,
.aheader .ahwrap div.right .userSelect .homeUl li,
.header .headerWrap .hr .userSelect ul li,
.pheader .phwrap .hr .userSelect ul li,
.aheader .ahwrap div.right .userSelect ul li {
  height: 36px;
}
.header .headerWrap .hr .userSelect .homeUl .homeLi a,
.pheader .phwrap .hr .userSelect .homeUl .homeLi a,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi a,
.header .headerWrap .hr .userSelect ul .homeLi a,
.pheader .phwrap .hr .userSelect ul .homeLi a,
.aheader .ahwrap div.right .userSelect ul .homeLi a,
.header .headerWrap .hr .userSelect .homeUl li a,
.pheader .phwrap .hr .userSelect .homeUl li a,
.aheader .ahwrap div.right .userSelect .homeUl li a,
.header .headerWrap .hr .userSelect ul li a,
.pheader .phwrap .hr .userSelect ul li a,
.aheader .ahwrap div.right .userSelect ul li a {
  color: #828ea0;
  font-size: 14px;
  display: block;
  padding-left: 52px;
  background-repeat: no-repeat;
  background-position: 21px center;
  line-height: 36px;
  height: 36px;
  float: none;
}
.header .headerWrap .hr .userSelect .homeUl .homeLi a:hover,
.pheader .phwrap .hr .userSelect .homeUl .homeLi a:hover,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi a:hover,
.header .headerWrap .hr .userSelect ul .homeLi a:hover,
.pheader .phwrap .hr .userSelect ul .homeLi a:hover,
.aheader .ahwrap div.right .userSelect ul .homeLi a:hover,
.header .headerWrap .hr .userSelect .homeUl li a:hover,
.pheader .phwrap .hr .userSelect .homeUl li a:hover,
.aheader .ahwrap div.right .userSelect .homeUl li a:hover,
.header .headerWrap .hr .userSelect ul li a:hover,
.pheader .phwrap .hr .userSelect ul li a:hover,
.aheader .ahwrap div.right .userSelect ul li a:hover {
  background-color: #545455;
  color: #c0d0e8;
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon1,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon1,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon1,
.header .headerWrap .hr .userSelect ul .homeLi .icon1,
.pheader .phwrap .hr .userSelect ul .homeLi .icon1,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon1,
.header .headerWrap .hr .userSelect .homeUl li .icon1,
.pheader .phwrap .hr .userSelect .homeUl li .icon1,
.aheader .ahwrap div.right .userSelect .homeUl li .icon1,
.header .headerWrap .hr .userSelect ul li .icon1,
.pheader .phwrap .hr .userSelect ul li .icon1,
.aheader .ahwrap div.right .userSelect ul li .icon1 {
  background-image: url("../images/indexImages/userCenter3-icon1.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon2,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon2,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon2,
.header .headerWrap .hr .userSelect ul .homeLi .icon2,
.pheader .phwrap .hr .userSelect ul .homeLi .icon2,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon2,
.header .headerWrap .hr .userSelect .homeUl li .icon2,
.pheader .phwrap .hr .userSelect .homeUl li .icon2,
.aheader .ahwrap div.right .userSelect .homeUl li .icon2,
.header .headerWrap .hr .userSelect ul li .icon2,
.pheader .phwrap .hr .userSelect ul li .icon2,
.aheader .ahwrap div.right .userSelect ul li .icon2 {
  background-image: url("../images/indexImages/userCenter3-icon2.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon3,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon3,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon3,
.header .headerWrap .hr .userSelect ul .homeLi .icon3,
.pheader .phwrap .hr .userSelect ul .homeLi .icon3,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon3,
.header .headerWrap .hr .userSelect .homeUl li .icon3,
.pheader .phwrap .hr .userSelect .homeUl li .icon3,
.aheader .ahwrap div.right .userSelect .homeUl li .icon3,
.header .headerWrap .hr .userSelect ul li .icon3,
.pheader .phwrap .hr .userSelect ul li .icon3,
.aheader .ahwrap div.right .userSelect ul li .icon3 {
  background-image: url("../images/indexImages/userCenter3-icon3.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon4,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon4,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon4,
.header .headerWrap .hr .userSelect ul .homeLi .icon4,
.pheader .phwrap .hr .userSelect ul .homeLi .icon4,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon4,
.header .headerWrap .hr .userSelect .homeUl li .icon4,
.pheader .phwrap .hr .userSelect .homeUl li .icon4,
.aheader .ahwrap div.right .userSelect .homeUl li .icon4,
.header .headerWrap .hr .userSelect ul li .icon4,
.pheader .phwrap .hr .userSelect ul li .icon4,
.aheader .ahwrap div.right .userSelect ul li .icon4 {
  background-image: url("../images/indexImages/userCenter3-icon4.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon5,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon5,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon5,
.header .headerWrap .hr .userSelect ul .homeLi .icon5,
.pheader .phwrap .hr .userSelect ul .homeLi .icon5,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon5,
.header .headerWrap .hr .userSelect .homeUl li .icon5,
.pheader .phwrap .hr .userSelect .homeUl li .icon5,
.aheader .ahwrap div.right .userSelect .homeUl li .icon5,
.header .headerWrap .hr .userSelect ul li .icon5,
.pheader .phwrap .hr .userSelect ul li .icon5,
.aheader .ahwrap div.right .userSelect ul li .icon5 {
  background-image: url("../images/indexImages/userCenter3-icon5.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon6,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon6,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon6,
.header .headerWrap .hr .userSelect ul .homeLi .icon6,
.pheader .phwrap .hr .userSelect ul .homeLi .icon6,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon6,
.header .headerWrap .hr .userSelect .homeUl li .icon6,
.pheader .phwrap .hr .userSelect .homeUl li .icon6,
.aheader .ahwrap div.right .userSelect .homeUl li .icon6,
.header .headerWrap .hr .userSelect ul li .icon6,
.pheader .phwrap .hr .userSelect ul li .icon6,
.aheader .ahwrap div.right .userSelect ul li .icon6 {
  background-image: url("../images/indexImages/userCenter3-icon6.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon7,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon7,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon7,
.header .headerWrap .hr .userSelect ul .homeLi .icon7,
.pheader .phwrap .hr .userSelect ul .homeLi .icon7,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon7,
.header .headerWrap .hr .userSelect .homeUl li .icon7,
.pheader .phwrap .hr .userSelect .homeUl li .icon7,
.aheader .ahwrap div.right .userSelect .homeUl li .icon7,
.header .headerWrap .hr .userSelect ul li .icon7,
.pheader .phwrap .hr .userSelect ul li .icon7,
.aheader .ahwrap div.right .userSelect ul li .icon7 {
  background-image: url("../images/indexImages/userCenter3-icon7.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon8,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon8,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon8,
.header .headerWrap .hr .userSelect ul .homeLi .icon8,
.pheader .phwrap .hr .userSelect ul .homeLi .icon8,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon8,
.header .headerWrap .hr .userSelect .homeUl li .icon8,
.pheader .phwrap .hr .userSelect .homeUl li .icon8,
.aheader .ahwrap div.right .userSelect .homeUl li .icon8,
.header .headerWrap .hr .userSelect ul li .icon8,
.pheader .phwrap .hr .userSelect ul li .icon8,
.aheader .ahwrap div.right .userSelect ul li .icon8 {
  background-image: url("../images/indexImages/userCenter3-icon8.png");
}
.header .headerWrap .hr .userSelect .homeUl .homeLi .icon9,
.pheader .phwrap .hr .userSelect .homeUl .homeLi .icon9,
.aheader .ahwrap div.right .userSelect .homeUl .homeLi .icon9,
.header .headerWrap .hr .userSelect ul .homeLi .icon9,
.pheader .phwrap .hr .userSelect ul .homeLi .icon9,
.aheader .ahwrap div.right .userSelect ul .homeLi .icon9,
.header .headerWrap .hr .userSelect .homeUl li .icon9,
.pheader .phwrap .hr .userSelect .homeUl li .icon9,
.aheader .ahwrap div.right .userSelect .homeUl li .icon9,
.header .headerWrap .hr .userSelect ul li .icon9,
.pheader .phwrap .hr .userSelect ul li .icon9,
.aheader .ahwrap div.right .userSelect ul li .icon9 {
  background-image: url("../images/indexImages/userCenter3-icon9.png");
}
