@charset "utf-8";
body {
    font-family: "微软雅黑";
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 65px;
}

.header .headerWrap {
    width: 1222px;
    margin: 0 auto;
    height: 65px;
}

.header .headerWrap .hl {
    padding-left: 139px;
    background: url(../images/logo.png) no-repeat left center;
    line-height: 65px;
}

.header .headerWrap .hl a {
    color: #bbbbbb;
    font-size: 16px;
    margin-right: 26px;
}

.header .headerWrap .hl a.cur {
    font-weight: bold;
    color: #ffffff;
}

.header .headerWrap .hr {
    line-height: 65px;
}

.header .headerWrap .hr a {
    float: right;
    font-size: 14px;
    color: #ffffff;
}

.header .headerWrap .hr .line {
    float: right;
    width: 0;
    height: 16px;
    border-left: 1px solid #989898;
    margin: 28px 12px 0;
}

.header .headerWrap .hr .search {
    margin-right: 16px;
    position: relative;
    width: 308px;
    height: 37px;
    margin-top: 18px;
}

.header .headerWrap .hr .search input {
    float: right;
    border: none;
    width: 0px;
    height: 37px;
    line-height: 37px;
    border-radius: 18px;
    transition: all 0.3s ease-in-out;
}

.header .headerWrap .hr .search input.click {
    width: 292px;
    padding: 0 8px;
}

.header .headerWrap .hr .search .btn {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(../images/icon1.png) no-repeat;
    top: 9px;
    right: 12px;
}

.bannerArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 631px;
    z-index: 10;
}

.bannerArea .transition {
    position: relative;
    height: 631px;
}

.bannerArea .transition .slide {
    width: 100%;
    height: 631px;
}

.bannerArea .transition .slide a {
    display: block;
    width: 100%;
    height: 631px;
    background-repeat: no-repeat;
    background-position: center;
}

.bannerArea .transition .slide .pic1 {
    background-image: url(../images/banner.jpg);
}

.bannerArea .transition .slide .pic2 {
    background-image: url(../images/banner.jpg);
}

.bannerArea .transition .slide .pic3 {
    background-image: url(../images/banner.jpg);
}

.bannerArea .slidePager {
    position: absolute;
    right: 50px;
    width: 16px;
    top: 317px;
    z-index: 200;
    text-indent: -9999px;
}

.bannerArea .slidePager span {
    display: block;
    width: 6px;
    height: 6px;
    margin: 0 auto 12px;
    background: url(../images/icon3.png) no-repeat;
}

.bannerArea .slidePager .cycle-pager-active {
    width: 16px;
    height: 16px;
    background-image: url(../images/icon3c.png);
}

.top {
    position: absolute;
    left: 0;
    top: 198px;
    width: 100%;
    text-align: center;
    padding-top: 251px;
    background: url(../images/logo1.png) no-repeat center top;
    z-index: 300;
}

.top .btn {
    text-align: center;
}

.top .btn a {
    display: inline-block;
    height: 54px;
    line-height: 54px;
    font-size: 20px;
    color: #ffffff;
    border-radius: 6px;
    border: 1px solid #C9C4C0;
}

.top .btn a.a1 {
    border-color: #E13332;
    width: 195px;
    margin-right: 35px;
    background-color: #E13332;
}

.top .btn a.a2 {
    width: 195px;
    padding-left: 44px;
    text-align: left;
    background: rgba(0, 0, 0, 0.3) url(../images/icon2.png) no-repeat 181px center;
    position: relative;
}

.top .btn a.a2 span {
    display: none;
    position: absolute;
    padding-top: 21px;
    height: 204px;
    text-align: center;
    background-color: #ffffff;
    width: 241px;
    left: -1px;
    top: -223px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.top .btn a.a2:hover span {
    display: block;
}

.s1 {
    margin-top: 631px;
    padding-top: 39px;
    padding-bottom: 38px;
}

.s1 .wrap {
    width: 1140px;
    margin: 0 auto;
}

.s1 .wrap a {
    float: left;
    width: 360px;
    height: 195px;
    margin-right: 30px;
}

.s1 .wrap a p {
    margin-top: 67px;
    height: 58px;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    line-height: 58px;
    padding-left: 102px;
    background: url(../images/icon5.png) no-repeat center;
}

.s1 .wrap a.a1 {
    background: url(../images/pic1.jpg) no-repeat;
}

.s1 .wrap a.a2 {
    background: url(../images/pic2.jpg) no-repeat;
}

.s1 .wrap a.a3 {
    background: url(../images/pic3.jpg) no-repeat;
    margin-right: 0;
}

.s2 {
    padding-top: 109px;
    height: 353px;
    background: url(../images/bg2.jpg) no-repeat center;
}

.s2 .wrap {
    width: 1142px;
    margin: 0 auto;
}

.s2 .wrap a {
    float: left;
    width: 180px;
    padding-top: 96px;
    text-align: center;
    color: #ffffff;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    margin-right: 12px;
    margin-bottom: 11px;
    background-repeat: no-repeat;
    background-position: center;
}

.s2 .wrap .a1 {
    background-image: url(../images/pic4.png);
}

.s2 .wrap .a2 {
    background-image: url(../images/pic5.png);
}

.s2 .wrap .a3 {
    background-image: url(../images/pic6.png);
}

.s2 .wrap .a4 {
    background-image: url(../images/pic7.png);
}

.s2 .wrap .a5 {
    background-image: url(../images/pic8.png);
}

.s2 .wrap .a6 {
    background-image: url(../images/pic9.png);
    margin-right: 0;
}

.s2 .wrap .a7 {
    background-image: url(../images/pic10.png);
}

.s2 .wrap .a8 {
    background-image: url(../images/pic11.png);
}

.s2 .wrap .a9 {
    background-image: url(../images/pic12.png);
}

.s2 .wrap .a10 {
    background-image: url(../images/pic13.png);
}

.s2 .wrap .a11 {
    background-image: url(../images/pic14.png);
}

.s2 .wrap .a12 {
    margin-right: 0;
    padding-top: 0;
    height: 141px;
    line-height: 141px;
    background-color: #CB9A6D;
    border-radius: 6px;
}

.s3 {
    padding-top: 122px;
    height: 890px;
    background: url(../images/bg3.jpg) no-repeat center;
}

.s3 .wrap {
    width: 1140px;
    margin: 0 auto;
}

.s3 .wrap ul {
    width: calc(100% + 30px);
}

.s3 .wrap ul li {
    float: left;
    width: 359px;
    margin-right: 30px;
    margin-bottom: 33px;
    background-color: #ffffff;
    height: 362px;
}

.s3 .wrap ul li .detail {
    padding: 0 12px;
}

.s3 .wrap ul li .detail .p1 {
    line-height: 43px;
    font-size: 16px;
}

.s3 .wrap ul li .detail .p1 a {
    color: #000000;
}

.s3 .wrap ul li .detail .p2 {
    line-height: 20px;
    color: #494949;
}

.s3 .wrap ul li .detail .p3 {
    float: right;
    height: 21px;
    line-height: 21px;
    margin-top: 14px;
}

.s3 .wrap ul li .detail .p3 a {
    color: #494949;
}

.s3 .wrap ul li .detail .p3 img {
    border-radius: 50%;
    margin-right: 5px;
}

.s3 .wrap .more {
    display: block;
    width: 358px;
    height: 54px;
    margin: 10px auto 0;
    color: #CFD5D5;
    text-align: center;
    line-height: 54px;
    font-size: 20px;
    border: 1px solid #4595A5;
}

.s4 {
    padding-top: 171px;
    height: 586px;
    background: url(../images/bg4.jpg) no-repeat center;
}

.s4 .wrap {
    width: 1200px;
    margin: 0 auto;
}

.s4 .wrap ul {
    width: calc(100% + 26px);
}

.s4 .wrap ul li {
    float: left;
    margin-right: 26px;
    position: relative;
    width: 245px;
    height: 345px;
    padding: 25px 17px 0;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
}

.s4 .wrap ul li .img {
    display: block;
    width: 228px;
    height: 228px;
    margin: 0 auto 26px;
    border-radius: 50%;
}

.s4 .wrap ul li .icon {
    position: absolute;
    top: 99px;
    left: 99px;
}

.s4 .wrap ul li .info {
    border-top: 1px dashed #A3B6DC;
}

.s4 .wrap ul li .info .p1 {
    line-height: 48px;
    text-align: center;
    font-size: 20px;
}

.s4 .wrap ul li .info .p1 a {
    color: #000000;
}

.s4 .wrap ul li .info .p2 {
    height: 21px;
    line-height: 21px;
    text-align: center;
}

.s4 .wrap ul li .info .p2 a {
    color: #000000;
}

.s4 .wrap ul li .info .p2 img {
    border-radius: 50%;
    margin-right: 5px;
}

.s4 .wrap .more {
    display: block;
    width: 358px;
    height: 54px;
    margin: 87px auto 0;
    color: #000000;
    text-align: center;
    line-height: 54px;
    font-size: 20px;
    border: 1px solid #8DA67E;
}

.s5 {
    padding-top: 183px;
    height: 557px;
    background: url(../images/bg5.jpg) no-repeat center;
}

.s5 .wrap {
    width: 1140px;
    margin: 0 auto;
}

.s5 .wrap ul {
    width: calc(100% + 30px);
}

.s5 .wrap ul li {
    float: left;
    width: 360px;
    height: 385px;
    background-color: #ffffff;
    margin-right: 30px;
    position: relative;
}

.s5 .wrap ul li .icon {
    position: absolute;
    top: 82px;
    left: 119px;
}

.s5 .wrap ul li .detail {
    padding: 0 13px;
}

.s5 .wrap ul li .detail .p1 {
    font-size: 16px;
    line-height: 45px;
}

.s5 .wrap ul li .detail .p1 a {
    color: #000000;
}

.s5 .wrap ul li .detail .p2 {
    color: #494949;
    line-height: 20px;
}

.s5 .wrap ul li .detail .p3 {
    margin-top: 12px;
    height: 26px;
}

.s5 .wrap ul li .detail .p3 span {
    float: left;
    width: 63px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border: 1px solid #DCDCDC;
    background-color: #F9F9F9;
    color: #027f5d;
    margin-right: 9px;
}

.s5 .wrap ul li .detail .p4 {
    text-align: right;
    height: 21px;
    line-height: 21px;
}

.s5 .wrap ul li .detail .p4 a {
    color: #494949;
}

.s5 .wrap ul li .detail .p4 img {
    border-radius: 50%;
    margin-right: 3px;
}

.s5 .wrap .more {
    display: block;
    width: 360px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    background-color: #51190B;
    color: #C5BAB8;
    font-size: 20px;
    margin: 67px auto;
}

.s6 {
    padding-top: 200px;
    height: 632px;
    background: url(../images/bg6.jpg) no-repeat center;
}

.s6 .wrap {
    width: 1198px;
    margin: 0 auto;
}

.s6 .wrap a {
    display: block;
}

.s6 .wrap .col a {
    position: relative;
}

.s6 .wrap .col a img {
    display: block;
}

.s6 .wrap .col a span {
    position: absolute;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.6);
    left: 0px;
    bottom: 0;
    width: 100%;
}

.s6 .wrap .col1 {
    width: 339px;
    margin-right: 12px;
}

.s6 .wrap .col1 .a1 {
    width: 339px;
    height: 267px;
    margin-bottom: 12px;
}

.s6 .wrap .col1 .a2 {
    width: 339px;
    height: 210px;
}

.s6 .wrap .col2 {
    width: 520px;
    margin-right: 12px;
}

.s6 .wrap .col2 .a1 {
    float: left;
    width: 254px;
    height: 177px;
    margin-right: 12px;
}

.s6 .wrap .col2 .a2 {
    margin-right: 0;
}

.s6 .wrap .col2 .a3 {
    margin-top: 12px;
    width: 520px;
    height: 300px;
}

.s6 .wrap .col3 {
    width: 315px;
}

.s6 .wrap .col3 .a1 {
    width: 315px;
    height: 215px;
    margin-bottom: 12px;
}

.s6 .wrap .col3 .a2 {
    width: 315px;
    height: 262px;
}

.s7 {
    padding-top: 170px;
    height: 438px;
    background: url(../images/bg7.jpg) no-repeat center;
}

.s7 .wrap {
    width: 1198px;
    margin: 0 auto;
}

.poster-main {
    margin: 0 auto;
    position: relative;
}

.poster-main ul {
    padding: 0;
    margin: 0;
    background: none;
    position: relative;
}

.poster-main ul .poster-item {
    position: absolute;
}

.poster-main ul .poster-item a {
    display: block;
    height: 100%;
}

.poster-main ul .poster-item img {
    display: block;
    width: 100%;
    height: 100%;
}

.poster-btn {
    position: absolute;
    width: 51px;
    height: 99px;
    top: 102px;
    cursor: pointer;
    z-index: 10;
    opacity: 1;
}

.poster-prev-btn {
    left: -105px;
    background: url(../images/prev.png) no-repeat;
}

.poster-next-btn {
    right: -105px;
    background: url(../images/next.png) no-repeat;
}

.s8 {
    padding-top: 136px;
    height: 903px;
    background: #FFFFFF url(../images/bg8.jpg) no-repeat center top;
}

.s8 .wrap {
    width: 1200px;
    margin: 0 auto;
}

.s8 .wrap ul {
    width: calc(100% + 26px);
}

.s8 .wrap ul li {
    float: left;
    width: 219px;
    height: 383px;
    text-align: center;
    margin-right: 26px;
}

.s8 .wrap ul li a {
    display: block;
}

.s8 .wrap ul li a img {
    display: block;
    border-radius: 6px;
}

.s8 .wrap ul li a p {
    line-height: 83px;
    color: #000;
}

.s8 .wrap .more {
    display: block;
    margin: 0 auto;
    width: 358px;
    height: 54px;
    text-align: center;
    line-height: 54px;
    border: 1px solid #EEECEC;
    font-size: 20px;
    color: #000;
}

.s9 {
    padding-top: 123px;
    height: 362px;
    background: url(../images/bg9.jpg) no-repeat center;
}

.s9 .wrap {
    width: 1198px;
    margin: 0 auto;
}

.s9 .wrap .width {
    width: calc(100% + 23px);
}

.s9 .wrap .width a {
    float: left;
    width: 180px;
    text-align: center;
    padding-top: 23px;
    height: 175px;
    border-radius: 6px;
    background-color: #ffffff;
    margin-right: 23px;
}

.s9 .wrap a img {
    display: block;
    width: 108px;
    height: 108px;
    border-radius: 50%;
    margin: 0 auto 7px;
}

.s9 .wrap a p {
    font-size: 18px;
    color: #000;
    line-height: 60px;
}

.s9 .wrap .more {
    display: block;
    font-size: 20px;
    color: #000;
    width: 162px;
    line-height: 160px;
    text-align: center;
    margin: 0 auto;
}

.s10 {
    padding-top: 117px;
    height: 265px;
    background: url(../images/bg10.jpg) no-repeat center;
}

.s10 .wrap {
    width: 200px;
    margin: 0 auto;
}

.s10 .wrap p {
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}

.footer {
    padding-top: 32px;
    height: 98px;
    background: url(../images/bg11.jpg) no-repeat center;
}

.footer p {
    line-height: 32px;
    font-size: 14px;
    text-align: center;
}
