.aheader {
  height: 71px;
  line-height: 71px;
  background-color: #424242;
  color: #ffffff;
}
.aheader .ahwrap {
  width: 1220px;
  margin: 0 auto;
}
.aheader .ahwrap a {
  color: #ffffff;
  font-size: 14px;
}
.aheader .ahwrap .logo {
  float: left;
}
.aheader .ahwrap .logo img {
  display: block;
}
.aheader .ahwrap .sort {
  float: left;
  color: #ffffff;
  line-height: 71px;
  font-size: 20px;
  margin-right: 15px;
}
.aheader .ahwrap .select {
  float: left;
  margin-right: 38px;
  width: 117px;
  margin-top: 11px;
  position: relative;
}
.aheader .ahwrap .select p {
  padding-top: 8px;
  line-height: 34px;
  padding-left: 42px ;
  color: #ffffff;
  background: url(../images/literature/lhicon1.png) no-repeat 19px 19px;
  cursor: pointer;
  font-size: 14px;
}
.aheader .ahwrap .select:hover p {
  background-color: #F1F1F1;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: #323232;
  background-image: url(../images/literature/lhicon1h.png);
}
.aheader .ahwrap .select .list {
  display: none;
  position: absolute;
  left: 0px;
  top: 42px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #F1F1F1;
  height: 210px;
  width: 452px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 9999;
}
.aheader .ahwrap .select .list .col {
  padding-left: 20px;
  height: 210px;
  border-left: 1px solid #D8D8D8;
  width: 130px;
}
.aheader .ahwrap .select .list .col a {
  display: block;
  font-size: 14px;
  color: #7f7e7e;
  line-height: 30px;
}
.aheader .ahwrap .select .list .col:first-child {
  border-left: none;
}
.aheader .ahwrap .select:hover .list {
  display: block;
}
.aheader .ahwrap .search {
  margin-top: 19px;
  width: 500px;
  height: 34px;
  border-radius: 6px ;
  background-color: #575757;
  margin-right: 16px;
}
.aheader .ahwrap .search input {
  float: left;
  padding: 7px;
  height: 20px;
  line-height: 20px;
  border-radius: 6px;
  width: 452px;
  background-color: transparent;
  border: none;
  color: #ffffff;
}
.aheader .ahwrap .search .btn {
  float: left;
  width: 32px;
  height: 34px;
  background: url(../images/icon1.png) no-repeat left center;
}
.aheader .ahwrap div.right a {
  float: left;
  padding: 0 12px;
}
.aheader .ahwrap .dssb {
  width: 98px;
  height: 48px;
  margin-top: 11px;
  line-height: 48px;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.aheader .ahwrap .dssb ul {
  display: none;
  position: absolute;
  left: 0;
  top: 48px;
  width: 98px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ffffff;
  z-index: 9999;
}
.aheader .ahwrap .dssb ul li {
  line-height: 40px;
  text-align: center;
}
.aheader .ahwrap .dssb ul li a {
  float: none;
  font-size: 14px;
  color: #808080;
}
.aheader .ahwrap .dssb:hover {
  background-color: #ffffff ;
}
.aheader .ahwrap .dssb:hover a {
  color: #252525;
}
.aheader .ahwrap .dssb:hover ul {
  display: block;
}
.aheader .ahwrap .dssb:hover ul a {
  color: #808080;
}
.picArea {
  min-width: 1220px;
  position: relative;
  height: 400px;
  z-index: 5;
}
.picArea .transition {
  height: 400px;
  position: relative;
  width: 100%;
}
.picArea .transition .slide {
  height: 400px;
  width: 100%;
}
.picArea .transition .slide a {
  display: block;
  background-repeat: repeat-x;
  background-position: center center;
  height: 400px;
}
.picArea .transition .slide .pic1 {
  background-image: url(../imagesTemp/index-pic1.jpg);
}
.picArea .transition .slide .pic2 {
  background-image: url(../imagesTemp/index-pic1.jpg);
}
.picArea .transition .slide .pic3 {
  background-image: url(../imagesTemp/index-pic1.jpg);
}
.picArea .slidePager {
  position: absolute;
  left: 50%;
  z-index: 100;
  bottom: 14px;
  transform: translate(-50%, -50%);
}
.picArea .slidePager span {
  background-image: url(../images/literature/licon9.png);
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  float: left;
  text-indent: -999999px;
  margin-right: 14px;
  cursor: pointer;
}
.picArea .slidePager .cycle-pager-active {
  background-image: url(../images/literature/licon9c.png);
}
.numWrap {
  position: absolute;
  left: 50%;
  top: 59px;
  margin-left: 281px;
  width: 314px;
  height: 141px;
  background: url(../images/literature/bd_numbg.png) no-repeat;
  z-index: 9999;
  padding-top: 98px;
}
.numWrap .item {
  padding-left: 49px;
  height: 37px;
  line-height: 37px;
  color: #523e22;
  font-size: 16px;
  margin-bottom: 6px;
}
.numWrap .item strong {
  margin-right: 7px;
}
.numWrap .item .last {
  margin-left: 5px;
}
.dataNums {
  float: left;
  height: 37px;
}
.dataNums .dataOne {
  width: 25px;
  height: 37px;
  margin-right: 3px;
  text-align: center;
  background: url(../images/literature/bd_num.gif) no-repeat;
}
.dataNums .dataBoc {
  position: relative;
  width: 100%;
  height: 37px;
  overflow: hidden;
}
.dataNums .dataBoc .tt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.dataNums .dataBoc .tt span {
  width: 100%;
  height: 37px;
  font: 30px/37px "Microsoft Yahei";
}
.inrow > li,
.inrow span {
  display: block;
  float: left;
}
.navbg {
  background-color: #ffffff;
}
.navWrap {
  padding-top: 30px;
  width: 1200px;
  margin: 0 auto 16px;
  overflow: hidden;
}
.navWrap .label {
  width: 86px;
  height: 101px;
  background: url(../images/literature/licon10.png) no-repeat;
  margin-right: 4px;
}
.navWrap .label p {
  font-weight: bold;
  font-size: 18px;
  padding-left: 28px;
  padding-top: 6px;
  line-height: 22px;
  color: #b76650;
}
.navWrap .slabel {
  margin-top: -10px;
  height: 61px;
  width: 84px;
  background: url(../images/literature/licon10-1.png) no-repeat;
}
.navWrap .slabel p {
  padding-left: 20px;
}
.navWrap .items {
  padding-bottom: 10px;
  overflow: hidden;
}
.navWrap .items a {
  float: left;
  width: 121px;
  height: 48px;
  line-height: 42px;
  text-align: center;
  font-size: 16px;
  color: #282828;
  background: url(../images/literature/licon11.png) no-repeat;
  margin-right: 2px;
  margin-bottom: 15px;
  text-decoration: none;
}
.navWrap .items a.last {
  margin-right: 0;
}
.navWrap .items a.color {
  color: #007ad6;
}
.contain {
  width: 1200px;
  margin: 0 auto;
  background: #ffffff url(../images/literature/containbg.gif) repeat-y 884px 15px;
  padding-top: 15px;
}
.contain .cl {
  width: 884px;
}
.contain .cl h1 {
  line-height: 36px;
  text-align: center;
  font-size: 20px;
  color: #b76650;
  padding-bottom: 18px;
  background: url(../images/literature/titbg.gif) no-repeat center bottom;
  margin-bottom: 15px;
}
.contain .cl .tags {
  margin: 0 50px 34px;
}
.contain .cl .tags a {
  float: left;
  width: 86px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  font-family: simsun;
  font-size: 14px;
  color: #bb6b52;
  border: 1px solid #F5E8DF;
  margin-right: 10px;
}
.contain .cl .tags a.cur {
  background-color: #B66550;
  border-color: #B66550;
  color: #ffffff;
}
.contain .cl .list {
  margin: 0 50px;
}
.contain .cl .list .item {
  border-bottom: 1px solid #E4E4E4;
  padding: 12px 0 20px;
}
.contain .cl .list .item h2 {
  line-height: 37px;
  font-size: 16px;
}
.contain .cl .list .item h2 a {
  color: #333333;
}
.contain .cl .list .item p {
  color: #666666;
  font-size: 14px;
}
.contain .cl .list .item .p1 {
  line-height: 36px;
  color: #159c77;
}
.contain .cl .list .item .p2 {
  line-height: 25px;
}
.contain .cl .list .item .tag {
  margin-top: 10px;
  height: 14px;
  font-size: 14px;
  color: #e7452f;
}
.contain .cl .list .item .tag span {
  color: #e7452f;
  font-size: 14px;
  margin: 0 8px;
}
.contain .cl .list .item .pics {
  margin: 15px 0 20px;
  height: 120px;
}
.contain .cl .list .item .pics a {
  margin-right: 12px;
  float: left;
  width: 187px;
  height: 120px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}
.contain .cl .list .item .pics img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.contain .cl .more {
  display: block;
  text-align: center;
  color: #159c77;
  font-size: 16px;
  line-height: 70px;
  padding-bottom: 45px;
}
.contain .cr {
  width: 316px;
}
.contain .cr .slogan {
  margin: 0 19px 15px;
  width: 277px;
  height: 119px;
  background: url(../images/literature/lewmbg.gif) no-repeat;
  position: relative;
}
.contain .cr .slogan img {
  position: absolute;
  width: 82px;
  height: 81px;
  padding: 7px;
  left: 17px;
  top: 12px;
  background-color: #ffffff;
}
.contain .cr .aside {
  padding-left: 19px;
}
.contain .cr .aside h1 {
  height: 47px;
  line-height: 47px;
  margin-right: 19px;
  border-bottom: 3px solid #E64A3C;
}
.contain .cr .aside h1 span {
  float: left;
  font-size: 18px;
}
.contain .cr .aside h1 a {
  float: right;
  font-size: 14px;
  color: #2481f3;
  font-weight: normal;
}
.contain .cr .s1 ul {
  padding-top: 26px;
}
.contain .cr .s1 ul li {
  width: 60px;
  float: left;
  margin-right: 10px;
  margin-bottom: 12px;
}
.contain .cr .s1 ul li img {
  display: block;
}
.contain .cr .s1 ul li p {
  line-height: 38px;
  text-align: center;
  font-family: simsun;
}
.contain .cr .s1 ul li p a {
  color: #333333;
}
.contain .cr .s2 ul {
  padding-left: 17px;
  padding-top: 20px;
}
.contain .cr .s2 ul li {
  float: left;
  width: 107px;
  margin-right: 28px;
  margin-bottom: 13px;
}
.contain .cr .s2 ul li img {
  display: block;
  width: 107px;
  height: 144px;
  border-radius: 6px;
}
.contain .cr .s2 ul li p {
  line-height: 38px;
  text-align: center;
  font-family: simsun;
}
.contain .cr .s2 ul li p a {
  color: #333333;
}
.contain .cr .s3 .ul {
  padding-top: 16px;
  padding-bottom: 30px;
}
.contain .cr .s3 .ul .li {
  margin-bottom: 20px;
  font-family: simsun;
}
.contain .cr .s3 .ul .li .num {
  width: 14px;
  height: 15px;
  color: #ffffff;
  background-color: #E40201;
  margin-top: 28px;
  text-align: center;
  line-height: 15px;
  margin-right: 6px;
}
.contain .cr .s3 .ul .li .num.bgcolor {
  background-color: #B66550;
}
.contain .cr .s3 .ul .li .img {
  margin-right: 9px;
  margin-top: 5px;
}
.contain .cr .s3 .ul .li .img img {
  width: 116px;
  height: 65px;
}
.contain .cr .s3 .ul .li .info {
  width: 126px;
}
.contain .cr .s3 .ul .li .info p {
  height: 45px;
  line-height: 22px;
  font-size: 14px;
  margin-bottom: 8px;
}
.contain .cr .s3 .ul .li .info p a {
  color: #000000;
}
.contain .cr .s3 .ul .li .info p a:hover {
  color: #E64A3C;
}
.contain .cr .s3 .ul .li .bottom {
  height: 14px;
  line-height: 14px;
  color: #999999;
}
.contain .cr .s3 .ul .li .bottom img {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: middle;
}
.labanner {
  height: 186px;
  background: #DBA8A7 url(../images/literature/labanner.jpg) no-repeat center;
}
.lacontent {
  width: 1200px;
  margin: 25px auto 0;
}
.lacontent .cmenu {
  width: 250px;
  margin-right: 20px;
}
.lacontent .cmenu h1 {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  height: 50px;
  line-height: 50px;
  background-color: #DC1B1B;
}
.lacontent .cmenu h1 a {
  color: #ffffff;
}
.lacontent .cmenu .firstm {
  border: 1px solid #FABABA;
  height: 50px;
  line-height: 50px;
  padding-left: 54px;
  background-color: #FBEFE9;
  font-size: 16px;
  background-repeat: no-repeat;
  background-position: 20px center;
  margin-top: -1px;
  cursor: pointer;
}
.lacontent .cmenu .m1 {
  background-image: url(../images/literature/nav-icon1.png);
}
.lacontent .cmenu .m2 {
  background-image: url(../images/literature/nav-icon2.png);
}
.lacontent .cmenu .m3 {
  background-image: url(../images/literature/nav-icon3.png);
}
.lacontent .cmenu .m4 {
  background-image: url(../images/literature/nav-icon4.png);
}
.lacontent .cmenu .m5 {
  background-image: url(../images/literature/nav-icon5.png);
}
.lacontent .cmenu .m6 {
  background-image: url(../images/literature/nav-icon6.png);
}
.lacontent .cmenu .m7 {
  background-image: url(../images/literature/nav-icon7.png);
}
.lacontent .cmenu .m8 {
  background-image: url(../images/literature/nav-icon8.png);
}
.lacontent .cmenu .m9 {
  background-image: url(../images/literature/nav-icon9.png);
}
.lacontent .cmenu .m10 {
  background-image: url(../images/literature/nav-icon10.png);
}
.lacontent .cmenu .m11 {
  background-image: url(../images/literature/nav-icon11.png);
}
.lacontent .cmenu .m12 {
  background-image: url(../images/literature/nav-icon12.png);
}
.lacontent .cmenu .m13 {
  background-image: url(../images/literature/nav-icon13.png);
}
.lacontent .cmenu .m14 {
  background-image: url(../images/literature/nav-icon14.png);
}
.lacontent .cmenu .m15 {
  background-image: url(../images/literature/nav-icon15.png);
}
.lacontent .cmenu .m16 {
  background-image: url(../images/literature/nav-icon16.png);
}
.lacontent .cmenu .m17 {
  background-image: url(../images/literature/nav-icon17.png);
}
.lacontent .cmenu .m18 {
  background-image: url(../images/literature/nav-icon19.png);
}
.lacontent .cmenu .m19 {
  background-image: url(../images/literature/nav-icon20.png);
}
.lacontent .cmenu .m20 {
  background-image: url(../images/literature/nav-icon21.png);
}
.lacontent .cmenu .m21 {
  background-image: url(../images/literature/nav-icon22.png);
}
.lacontent .cmenu .m22 {
  background-image: url(../images/literature/nav-icon23.png);
}
.lacontent .cmenu .subm {
  border-left: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
  padding: 8px 0px 8px 55px;
}
.lacontent .cmenu .subm .sa {
  display: block;
  padding-left: 23px;
  font-size: 14px;
  color: #333333;
  line-height: 30px;
}
.lacontent .cmenu .subm .fa {
  background: url(../images/literature/nav-icon18.png) no-repeat left center;
}
.lacontent .cmenu .subm .cur {
  color: #dd1b1b;
}
.lacontent .cmenu .subm .ca {
  padding-left: 43px;
  line-height: 30px;
}
.lacontent .cmenu .subm .ca a {
  color: #808080;
}
.rl {
  width: 930px;
}
.rl .tit {
  margin-top: 5px;
  height: 50px;
  line-height: 50px;
  color: #808080;
}
.rl .tit span {
  font-size: 16px;
  color: #dd1b1b;
}
.rl .tops {
  height: 27px;
  margin-bottom: 7px;
  position: relative;
}
.rl .tops .tab {
  position: absolute;
  left: 0px;
  bottom: -7px;
  height: 40px;
}
.rl .tops .tab li {
  float: left;
  width: 135px;
  margin-right: 5px;
  font-size: 14px;
}
.rl .tops .tab li a {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #333333;
  background-color: #E5E5E5;
}
.rl .tops .tab li a.cur {
  background-color: #DC1B1B;
  color: #ffffff;
  font-weight: bold;
}
.rl .tops p {
  float: left;
  line-height: 27px;
  font-size: 16px;
  color: #808080;
}
.rl .tops p span {
  color: #dd1b1b;
  margin-right: 5px;
}
.rl .tops p i {
  font-size: 12px;
  color: #808080;
}
.rl .tops div {
  color: #808080;
}
.rl .tops div a {
  float: right;
  width: 66px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  color: #808080;
  border: 1px solid #E7E7E7;
  border-radius: 12px;
  margin-left: 11px;
}
.rl .tops div span {
  line-height: 27px;
}
.rl .filtrate {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #FFE1E1;
  border-top: 2px solid #DC1B1B;
}
.rl .filtrate .ti {
  float: left;
  color: #4D4D4D;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  width: 46px;
  padding-left: 10px;
}
.rl .filtrate .itemm {
  float: left;
  position: relative;
  padding-left: 34px;
  width: 80px;
  color: #4d4d4d;
  font-size: 14px;
  line-height: 40px;
  background: url(../images/literature/licon5.png) no-repeat 75px center;
  cursor: pointer;
}
.rl .filtrate .itemm .see2 {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 34px;
  width: 80px;
  color: #ffffff;
  background: #DC1B1B url(../images/literature/licon4.gif) no-repeat center bottom;
  z-index: 100;
}
.rl .filtrate .itemm .see2 img {
  margin-left: 12px;
}
.rl .filtrate .line1 {
  float: left;
  width: 0;
  font-size: 0;
  margin-top: 9px;
  height: 22px;
  border-left: 1px solid #F6B9B9;
  border-right: 1px solid #FFF;
}
.rl .filtrate .itemm.long {
  background: url(../images/literature/licon5.png) no-repeat 102px center;
}
.rl .pop2 {
  background: #fff;
  width: 874px;
  padding: 20px 12px 0px;
  border: 1px solid #DC1B1B;
  position: relative;
  margin-top: -1px;
}
.rl .pop2 .close1 {
  right: 10px;
  top: 10px;
  width: 13px;
  height: 13px;
}
.rl .pop2 .classes {
  float: left;
  height: 18px;
  line-height: 18px;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  *white-space: nowrap;
}
.rl .pop2 .classes span {
  color: #999999;
}
.rl .pop2 .classes .wrapT {
  position: relative;
  color: #4D4D4D;
}
.rl .pop2 .classes a {
  padding: 3px;
  color: #4D4D4D;
  cursor: pointer;
}
.rl .pop2 .classes .soil {
  color: #fff;
  background: #BE9F53;
}
.rl .pop2 .classes .hint {
  position: absolute;
  top: -30px;
  *top: -28px;
  height: 30px;
  z-index: 900;
}
.rl .pop2 .classes .hint b {
  display: block;
  text-align: center;
  height: 24px;
  line-height: 24px;
  background: #FBEFE9;
  color: #ca0000;
  border: 1px solid #DC1B1B;
}
.rl .pop2 .classes .hint i {
  position: absolute;
  bottom: 0px;
  width: 9px;
  height: 5px;
  background: url(../images/literature/licon7.png) no-repeat;
}
.rl .px {
  height: 45px;
  background: #F4F4F4;
  border-bottom: 1px solid #E5E5E5;
}
.rl .px .ti {
  float: left;
  color: #4D4D4D;
  font-weight: bold;
  height: 45px;
  line-height: 45px;
  width: 46px;
  padding-left: 10px;
}
.rl .px a {
  float: left;
  padding: 0 21px;
  margin-top: 8px;
  line-height: 27px;
  color: #808080;
  background-color: #ffffff;
  border: 1px solid #D8D8D8;
  margin-right: 9px;
}
.rl .px a.cur {
  background-color: #DC1B1B;
  border-color: #DC1B1B;
  color: #ffffff;
}
.rl .px span {
  margin-right: 30px;
  font-size: 12px;
  line-height: 45px;
  color: #808080;
}
.rl .px span i {
  color: #dd1b1b;
  padding: 0 5px;
}
.rl .px .spo {
  line-height: 46px;
  color: #cccccc;
}
.rl .px .spo span {
  color: #333333;
  margin-right: 0;
}
.rl .px .spo a {
  float: none;
  padding: 0;
  background-color: transparent;
  border: none;
  margin: 0 10px;
  color: #808080;
}
.rl .px .spo a.cur {
  color: #dd1b1b;
}
.rl .bpx {
  border-top: 2px solid #DC1B1B;
}
.rl .listWrap {
  margin-bottom: 20px;
}
.rl .listWrap .item {
  padding: 0 30px 20px;
  border-bottom: 1px solid #E5E5E5;
}
.rl .listWrap .item h2 {
  line-height: 57px;
  font-size: 16px;
}
.rl .listWrap .item h2 a {
  color: #333333;
}
.rl .listWrap .item p {
  color: #666666;
  font-size: 14px;
}
.rl .listWrap .item .p1 {
  line-height: 14px;
  color: #159c77;
  margin-bottom: 10px;
}
.rl .listWrap .item .p2 {
  line-height: 25px;
}
.rl .listWrap .item .tag {
  margin-top: 10px;
  height: 14px;
  font-size: 14px;
  color: #e7452f;
}
.rl .listWrap .item .tag span {
  color: #e7452f;
  font-size: 14px;
  margin: 0 8px;
}
.rl .listWrap .item .pics {
  margin: 15px 0 20px;
  height: 120px;
}
.rl .listWrap .item .pics a {
  margin-right: 12px;
  float: left;
  width: 187px;
  height: 120px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}
.rl .listWrap .item .pics img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.rl .rpage {
  padding: 50px 0;
  text-align: center;
  font-size: 14px;
}
.rl .rpage a {
  background: #F4F4F4;
  border: 1px solid #D8D8D8;
  color: #666666;
  margin-right: 10px;
  padding: 10px 8px;
  text-decoration: none;
}
.rl .rpage span {
  margin-right: 10px;
}
.rl .rpage .spec_padding {
  padding: 10px 20px;
}
.rl .rpage .current {
  background: #DC1B1B;
  color: #fff;
  margin-right: 10px;
  padding: 10px 8px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #DC1B1B;
}
.rl .mlist {
  padding-top: 30px;
  padding-left: 27px;
}
.rl .mlist li {
  float: left;
  width: 150px;
  margin-right: 30px;
  margin-bottom: 10px;
}
.rl .mlist li img {
  display: block;
  border-radius: 6px;
  width: 150px;
  height: 200px;
}
.rl .mlist li p {
  line-height: 42px;
  height: 42px;
  text-align: center;
  font-size: 14px;
}
.rl .mlist li p a {
  color: #000000;
}
.rl .rmlist {
  padding-left: 8px;
}
.rl .rmlist li {
  margin-right: 33px;
}
.rl .rmlist li:nth-child(5n) {
  margin-right: 0;
}
.rr {
  width: 278px;
  background-color: #F4F4F4;
  border: 1px solid #E4E4E4;
  margin-bottom: 20px;
}
.rr .s {
  margin-bottom: 5px;
}
.rr .s h1 {
  height: 44px;
  line-height: 44px;
  border-bottom: 3px solid #E64A3C;
  font-size: 16px;
  margin: 0 12px;
}
.rr .s h1 a {
  font-weight: normal;
  font-size: 14px;
  color: #188eee;
}
.rr .s1 ul {
  padding-top: 16px;
  padding-left: 25px;
}
.rr .s1 ul li {
  float: left;
  width: 106px;
  text-align: center;
  margin-right: 16px;
  margin-bottom: 10px;
}
.rr .s1 ul li img {
  display: block;
  border-radius: 6px;
  width: 106px;
  height: 150px;
}
.rr .s1 ul li p {
  height: 34px;
  line-height: 34px;
}
.rr .s1 ul li p a {
  color: #000000 ;
}
.rr .s2 .wrap {
  padding-top: 16px;
  padding-left: 12px;
}
.rr .s2 .wrap a {
  display: block;
  margin-bottom: 20px;
  color: #000000;
}
.rr .s2 .wrap a img {
  width: 254px;
  height: 113px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.rr .s2 .wrap a p {
  margin-top: 15px;
  line-height: 14px;
  font-size: 14px;
}
.rr .s3 .wrap {
  padding-left: 12px;
}
.rr .s3 .wrap .item {
  padding: 16px 0 5px;
}
.rr .s3 .wrap .item .img {
  margin-right: 15px;
}
.rr .s3 .wrap .item .img img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.rr .s3 .wrap .item .info {
  width: 170px;
}
.rr .s3 .wrap .item .info .p1 {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
}
.rr .s3 .wrap .item .info .p1 a {
  color: #1E1E1E;
}
.rr .s3 .wrap .item .info .p2 {
  line-height: 20px;
  color: #696969;
}
.rr .s4 .wrap {
  padding-top: 16px;
  padding-left: 12px;
}
.rr .s4 .wrap a {
  display: block;
  margin-bottom: 20px;
  color: #000000;
}
.rr .s4 .wrap a img {
  width: 254px;
  height: 161px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.rr .s4 .wrap a p {
  margin-top: 15px;
  line-height: 14px;
  font-size: 14px;
}
.resultWrap .rl {
  width: 900px;
  margin-right: 20px;
}
.resultWrap {
  width: 1200px;
  margin: 20px auto 0;
}
.searchBanner {
  height: 186px;
  background: #E0A3A3 url(../images/literature/labanner1.png) no-repeat center;
}
.dSearching {
  width: 763px;
  margin-top: 75px;
}
.dSearching .tab {
  margin-bottom: 44px;
  height: 41px;
  border-bottom: 1px solid #DC1B1B;
  padding-left: 93px;
}
.dSearching .tab a {
  float: left;
  width: 126px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #dd1b1b;
  background-color: #FBEFE9;
  border: 1px solid #FABABA;
  border-bottom: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-right: 7px;
}
.dSearching .tab a.cur {
  color: #ffffff;
  border-color: #DC1B1B;
  background-color: #DC1B1B;
}
.dSearching .tabc {
  display: none;
}
.dSearching .tabc .widthitem .inputWrap .row .keys {
  width: 76px;
}
.dSearching .tabc .widthitem .inputWrap .row input {
  width: 484px;
}
.articelWrap {
  width: 1200px;
  margin: 27px auto 78px;
}
.articelWrap .al {
  width: 882px;
  margin-right: 6px;
}
.articelWrap .al .atop {
  padding: 32px 49px 46px;
  background-color: #ffffff;
  position: relative;
  border: 1px solid #D7D6D6;
  border-top: 4px solid #F0455C;
  box-shadow: 3px 3px 6px #d8d7d7;
  font-family: simsun;
  margin-bottom: 22px;
}
.articelWrap .al .atop .logo {
  position: absolute;
  width: 46px;
  height: 53px;
  background: url(../images/literature/licon22.gif) no-repeat;
  top: -4px;
  left: -1px;
}
.articelWrap .al .atop .title {
  font-weight: normal;
  font-family: "微软雅黑";
  font-size: 26px;
  color: #262626;
  text-align: center;
  line-height: 48px;
}
.articelWrap .al .atop .author {
  text-align: center;
  line-height: 48px;
  font-size: 14px;
}
.articelWrap .al .atop .author span {
  color: #1361CA;
  margin: 0 5px;
}
.articelWrap .al .atop .paragraph {
  font-size: 14px;
  color: #373737;
  line-height: 32px;
  text-indent: 2em;
  margin-bottom: 22px;
  text-align: justify;
}
.articelWrap .al .atop .paragraph span {
  color: #8A8A8A;
}
.articelWrap .al .atop .sliderBox {
  width: 676px;
  margin: 0 auto;
  height: 148px;
  position: relative;
  margin-bottom: 30px;
}
.articelWrap .al .atop .sliderBox .prev {
  position: absolute;
  left: -30px;
  top: 30px;
  width: 20px;
  height: 121px;
  background: url(../images/literature/licon23prev.gif) no-repeat;
  cursor: pointer;
}
.articelWrap .al .atop .sliderBox .next {
  position: absolute;
  right: -23px;
  top: 30px;
  width: 20px;
  height: 121px;
  background: url(../images/literature/licon23next.gif) no-repeat;
  cursor: pointer;
}
.articelWrap .al .atop .sliderBox ul li {
  float: left;
  width: 162px;
  margin-right: 7px;
}
.articelWrap .al .atop .sliderBox ul li .img {
  display: block;
  padding: 11px;
  border: 1px solid #d0d0d0;
}
.articelWrap .al .atop .sliderBox ul li .img span {
  position: relative;
  display: block;
  width: 140px;
  height: 102px;
  overflow: hidden;
}
.articelWrap .al .atop .sliderBox ul li .img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.articelWrap .al .atop .sliderBox ul li p {
  line-height: 26px;
  text-align: center;
}
.articelWrap .al .atop .sliderBox ul li p a {
  color: #a2a2a2;
}
.articelWrap .al .atop .btn {
  display: block;
  width: 162px;
  margin: 30px auto 15px;
}
.articelWrap .al .atop .operate {
  height: 24px;
  line-height: 24px;
  margin-left: 330px;
  position: relative;
  color: #D2D2D2;
  font-size: 16px;
  margin-bottom: 25px;
}
.articelWrap .al .atop .operate a {
  color: #3c3c3c;
  padding: 5px 0 5px 25px;
  font-size: 14px;
}
.articelWrap .al .atop .operate .collect {
  background: url(../images/literature/licon25.gif) no-repeat left center;
}
.articelWrap .al .atop .operate .collect.click {
  background-image: url(../images/literature/licon25c.gif);
}
.articelWrap .al .atop .operate .share {
  background: url(../images/literature/licon26.gif) no-repeat left center;
}
.articelWrap .al .atop .operate .share.click {
  background-image: url(../images/literature/licon26c.gif);
}
.articelWrap .al .atop .operate .sharebox {
  display: none;
  position: absolute;
  left: 165px;
  top: 0;
}
.articelWrap .al .atop .operate .sharebox a {
  padding: 0;
  margin-right: 5px;
  float: left;
}
.articelWrap .al .atop .similar h2 {
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  padding-left: 18px;
  background-color: #EEF5FE;
  border-left: 2px solid #5E65C7;
  margin-bottom: 17px;
}
.articelWrap .al .atop .similar p {
  height: 39px;
  line-height: 39px;
  font-size: 14px;
  color: #656565;
  border-bottom: 1px solid #F4F4F4;
}
.articelWrap .al .atop .similar p a {
  color: #2b72c9;
  margin: 0 10px 0 5px;
}
.articelWrap .al .atop .similar p a:hover {
  color: #ff5901;
}
.articelWrap .al .abottom {
  background-color: #ffffff;
  position: relative;
  border: 1px solid #D7D6D6;
  border-top: 4px solid #F0455C;
  box-shadow: 3px 3px 6px #d8d7d7;
  padding-left: 40px;
  padding-bottom: 30px;
}
.articelWrap .al .abottom h3 {
  height: 49px;
  border-bottom: 1px solid #DBDBDB;
  margin-right: 42px;
  margin-bottom: 35px;
}
.articelWrap .al .abottom h3 span {
  float: left;
  line-height: 47px;
  border-bottom: 2px solid #FE9A44;
  font-size: 20px;
}
.articelWrap .al .abottom h3 a {
  float: right;
  color: #1965dc;
  font-size: 14px;
  line-height: 30px;
  margin-top: 18px;
  font-weight: normal;
}
.articelWrap .al .abottom ul li {
  float: left;
  width: 178px;
  margin-right: 27px;
}
.articelWrap .al .abottom ul li .img img {
  display: block;
  width: 178px;
  height: 100px;
  border-radius: 6px;
}
.articelWrap .al .abottom ul li .p1 {
  line-height: 35px;
  font-size: 14px;
}
.articelWrap .al .abottom ul li .p1 a {
  color: #2f2a25;
}
.articelWrap .al .abottom ul li .p2 {
  height: 18px;
  line-height: 18px;
  color: #32A888;
}
.articelWrap .al .abottom ul li .p2 img {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: middle;
}
.articelWrap .ar {
  font-family: simsun;
  width: 310px;
  border: 1px solid #D7D6D6;
  border-top: 4px solid #F0455C;
  box-shadow: 3px 3px 6px #d8d7d7;
  background-color: #ffffff;
}
.articelWrap .ar .box1 {
  position: relative;
  padding: 28px 45px 15px;
  background: #F7F9FD;
  border-bottom: 1px solid #E7EEF9;
}
.articelWrap .ar .box1 .logo {
  position: absolute;
  left: 0px;
  top: -4px;
  width: 67px;
  text-align: center;
  height: 23px;
  line-height: 23px;
  font-size: 14px;
  color: #ffffff;
  background-color: #F0455C;
  border-radius: 4px;
}
.articelWrap .ar .box1 .img {
  display: block;
  width: 202px;
  height: 268px;
  padding: 7px;
  background-color: #ffffff;
  border: 1px solid #E1E1E1;
  margin-bottom: 13px;
}
.articelWrap .ar .box1 .img img {
  display: block;
  width: 202px;
  height: 268px;
}
.articelWrap .ar .box1 .p1 {
  line-height: 26px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.articelWrap .ar .box1 .p1 a {
  color: #2850b8;
}
.articelWrap .ar .box1 .p2 {
  text-align: center;
  line-height: 26px;
  font-size: 14px;
}
.articelWrap .ar .box2 {
  padding-top: 15px;
  padding-left: 26px;
}
.articelWrap .ar .box2 h1 {
  padding-left: 13px;
  margin-right: 30px;
  height: 20px;
  line-height: 20px;
  margin-bottom: 25px;
  border-left: 5px solid #F0455C;
}
.articelWrap .ar .box2 h1 span {
  float: left;
  font-size: 16px;
}
.articelWrap .ar .box2 h1 a {
  float: right;
  font-weight: normal;
  color: #1965dc;
  font-size: 12px;
}
.articelWrap .ar .box2 ul li {
  float: left;
  width: 106px;
  margin-right: 30px;
  margin-bottom: 8px;
}
.articelWrap .ar .box2 ul li img {
  display: block;
  width: 106px;
  height: 140px;
  border-radius: 6px;
}
.articelWrap .ar .box2 ul li p {
  line-height: 30px;
  text-align: center;
  padding-top: 8px;
}
.articelWrap .ar .box2 ul li p a {
  color: #000000;
}
.articelWrap .ar .box2 ul li .pp {
  line-height: 12px;
  text-align: center;
  padding-top: 0;
  color: #666666;
}
.mainbg {
  background: #D2EDFE url(../images/literature/dlbg.jpg) no-repeat center top;
  padding: 67px 0 184px;
}
.mainbg .main {
  width: 858px;
  border: 1px solid #C7C7C7;
  border-top: 2px solid #E64A3C;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 3px 3px 6px #d8d7d7;
}
.mainbg .main .ml {
  width: 531px;
  padding: 0 34px 33px;
}
.mainbg .main .ml h1 {
  padding-top: 49px;
  padding-left: 95px;
  padding-bottom: 11px;
  border-bottom: 1px solid #EEEEEE;
  background: url(../images/literature/licon27.gif) no-repeat 52px 49px;
  height: 32px;
  line-height: 32px;
  font-weight: normal;
  font-size: 20px;
}
.mainbg .main .ml .info {
  padding-top: 30px;
  padding-bottom: 49px;
  border-bottom: 1px solid #EEEEEE;
  padding-left: 21px;
  line-height: 32px;
  font-size: 16px;
}
.mainbg .main .ml .info p span {
  margin-left: 12px;
}
.mainbg .main .ml .info .color {
  color: #cc0000;
}
.mainbg .main .ml .info .btn {
  display: block;
  width: 179px;
  height: 46px;
  text-align: center;
  line-height: 46px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  background-color: #FF3035;
  margin: 30px auto 0;
}
.mainbg .main .ml .tips {
  padding-left: 20px;
  color: #686868;
  font-family: simsun;
}
.mainbg .main .ml .tips h2 {
  margin-top: 16px;
  line-height: 30px;
  font-size: 12px;
}
.mainbg .main .ml .tips p {
  line-height: 30px;
}
.mainbg .main .mr {
  width: 259px;
  background-color: #F5F5F5;
  padding-top: 28px;
  padding-bottom: 44px;
}
.mainbg .main .mr .section1 {
  padding-left: 38px;
  font-size: 14px;
  line-height: 32px;
  margin-bottom: 40px;
}
.mainbg .main .mr .section1 .color {
  color: #cc0000;
}
.mainbg .main .mr .section2 {
  margin: 0 23px 26px;
  border-bottom: 1px solid #DFDFDF;
}
.mainbg .main .mr .section2 h1 {
  height: 0;
  text-align: center;
  border-top: 1px solid #C9C9C9;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 20px;
}
.mainbg .main .mr .section2 h1 span {
  position: relative;
  top: -8px;
  padding: 0 15px;
  background-color: #F5F5F5;
}
.mainbg .main .mr .section2 .ways {
  width: calc(111%);
}
.mainbg .main .mr .section2 .ways a {
  float: left;
  width: 98px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: bold;
  font-family: simsun;
  border: 1px solid #ffffff;
  border-radius: 18px;
  margin-right: 10px;
  margin-bottom: 18px;
}
.mainbg .main .mr .section2 .ways a img {
  margin-right: 4px;
  vertical-align: middle;
}
.mainbg .main .mr .section2 .ways .a1 {
  border-color: #3D7039;
  color: #3BB038;
}
.mainbg .main .mr .section2 .ways .a2 {
  border-color: #558FAD;
  color: #3C88FD;
}
.mainbg .main .mr .section2 .ways .a3 {
  border-color: #3D7471;
  color: #3D7471;
}
.mainbg .main .mr .section2 .ways .a4 {
  border-color: #B6896D;
  color: #886047;
}
.mainbg .main .mr .section2 .link {
  text-align: center;
  line-height: 32px;
  margin-bottom: 16px;
  font-size: 14px;
}
.mainbg .main .mr .section2 .link a {
  color: #e82912;
  margin-right: 10px;
}
.mainbg .main .mr .section3 {
  margin: 0 28px;
}
.mainbg .main .mr .section3 .relevance {
  display: block;
  height: 43px;
  text-align: center;
  line-height: 43px;
  border: 1px solid #E72912;
  border-radius: 21px;
  color: #E72912;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
.mainbg .main .mr .section3 p {
  line-height: 22px;
  text-align: justify;
}
