<!DOCTYPE html>
<html>
<head>
    <%- include('../layouts/headLayout', {}) %>
    <link rel="stylesheet" type="text/css" href="/css/literature/literature.css"/>
    <link rel="stylesheet" type="text/css" href="/css/literature/literature-artist.css"/>
    <script src="/js/jquery-tableMenu.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<!--header-->
<%- include('../layouts/libraryNavLayout', {}) %>
<!--content-->
<div class="searchBanner"></div>
<div class="searching dSearching">
    <div class="tab">
        <a href="javascript:;" class="cur">文献搜索</a>
        <a href="javascript:;">期刊搜索</a>
    </div>
    <form>
        <div class="tabc" style="display: block;">
            <div class="item clearfix">
                <label>搜索位置</label>
                <div class="inputWrap">
                    <div class="row clearfix">
                        <span class="keys">全文</span>
                        <input name="fullText" maxlength="30" type="text" id="fullText" value=""/>
                    </div>
                    <div class="row clearfix">
                        <span class="keys">主题</span>
                        <input name="topic" maxlength="30" type="text" id="topic" value=""/>
                    </div>
                    <div class="row clearfix">
                        <span class="keys">篇名</span>
                        <input name="title" maxlength="30" type="text" id="title" value=""/>
                    </div>
                    <div class="row clearfix">
                        <span class="keys">关键词</span>
                        <input name="keyword" maxlength="30" type="text" id="keyword" value=""/>
                    </div>
                    <div class="row clearfix">
                        <span class="keys">作者</span>
                        <input name="author" maxlength="30" type="text" id="author" value=""/>
                    </div>
                </div>
            </div>
            <div class="item clearfix">
                <label>文献来源</label>
                <input name="source" maxlength="30" type="text" id="source" value=""/>
            </div>
            <div class="item clearfix">
                <label>发表时间</label>
                <div class="yearwrap">
                    <div class="fromwrap"><i class="left">从</i>
                        <p class="p from"><b id="from">不限</b><span class="positionA"></span></p>
                        <ul class="fromlist">
                            <li>不限</li>
                            <li>1915年</li>
                            <li>1949年</li>
                            <li>1979年</li>
                        </ul>
                    </div>
                    <div class="towrap"><i class="left">到</i>
                        <p class="p to"><b id="to">不限</b><span class="positionA"></span></p>
                        <ul class="tolist positionA">
                            <li class="ndy">不限</li>
                            <li>1979年</li>
                            <li>1949年</li>
                            <li>1915年</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item clearfix">
                <label>作者单位</label>
                <input name="unit" maxlength="30" type="text" id="unit" value=""/>
            </div>
            <div class="btn clearfix">
                <a id="a1" href="javascript:;" class="a1">确&nbsp;定</a>
                <a id="a2" href="javascript:;" class="a2">重置信息</a>
                <input type="reset" id="reset" style="display: none">
            </div>
        </div>
        <div class="tabc">
            <div class="item widthitem clearfix">
                <label>搜索位置</label>
                <div class="inputWrap">
                    <div class="row clearfix">
                        <span class="keys">刊名</span>
                        <input type="text" id="periodName" value=""/>
                    </div>
                    <div class="row clearfix">
                        <span class="keys">ISSN</span>
                        <input type="text" id="periodISSN" value=""/>
                    </div>
                    <div class="row clearfix">
                        <span class="keys">CN</span>
                        <input type="text" id="periodCN" value=""/>
                    </div>
                    <div class="row clearfix">
                        <span class="keys">主办单位</span>
                        <input type="text" id="periodUnit" value=""/>
                    </div>
                    <div class="row clearfix">
                        <span class="keys">出版地</span>
                        <input type="text" id="periodLocation" value=""/>
                    </div>
                </div>
            </div>
            <div class="btn clearfix">
                <a id="a3" href="javascript:;" class="a1">确&nbsp;定</a>
                <a id="a4" href="javascript:;" class="a2">重置信息</a>
            </div>
        </div>
    </form>
</div>

<!--footer-->
<%- include('../layouts/footerLayout', {}) %>
<div style="display: none;">
    <input type="hidden" id="album" value="<%= viewModel.album %>">
</div>
<script>
    //搜索切换
    TableTransition($(".tab a"), $(".tabc"), "click", "cur")

    //下拉列表时间
    var start = 1980; // 指定开始年份
    var end = new Date().getFullYear(); // 获取当前年份
    for (var i = start; i <= end; i++) {
        $(".fromlist").append("<li>" + i + "年</li>");
        $(".tolist .ndy").after("<li>" + i + "年</li>");
    }
    var yearwarpP = $(".yearwrap .p");
    yearwarpP.click(function () {
        $(".yearwrap ul").css({"display": "none"});
        $(".yearwrap .p").removeClass("clickp");
        $(this).parent().find("ul").css("display", "block");
        $(this).addClass("clickp");
    })
    //鼠标点击事件效果
    $(".yearwrap ul").on("click", "li", function () {
        var Text = $(this).text();
        $(this).parent("ul").siblings(".p").removeClass("clickp").children("b").text(Text);
        $(this).parent("ul").hide();
    });

    // 提交表单 文献搜索
    $('#a1').click(function () {
        var fullTextValue = $('#fullText').val().trim();
        var topicValue = $('#topic').val().trim();
        var titleValue = $('#title').val().trim();
        var keywordValue = $('#keyword').val().trim();
        var authorValue = $('#author').val().trim();
        var sourceValue = $('#source').val().trim();
        var unitValue = $('#unit').val().trim();

        // 时间处理
        var from = $('#from').html().replace('年', '');
        var to = $('#to').html().replace('年', '');
        if (from == '不限' && to != '不限') {
            from = 1915;
        }
        if (to == '不限' && from != '不限') {
            to = new Date().getFullYear().toString();
            to = to.replace('年', '');
        }
        var publishDate = from + ',' + to;
        // 时间处理

        var album = $('#album').val();
        var url = '/literature/libraryResult?album=' + album;
        if (fullTextValue || topicValue || titleValue || keywordValue || authorValue || sourceValue || unitValue) {
            if (fullTextValue) {
                url += '&fulltext=' + fullTextValue;
            }
            if (topicValue) {
                url += '&topic=' + topicValue;
            }
            if (titleValue) {
                url += '&title=' + titleValue;
            }
            if (keywordValue) {
                url += '&keyword=' + keywordValue;
            }
            if (authorValue) {
                url += '&author=' + authorValue;
            }
            if (sourceValue) {
                url += '&source=' + sourceValue;
            }
            if (unitValue) {
                url += '&unit=' + unitValue;
            }
            url = url.indexOf('?&') ? url.replace('?&', '?') : url;
            url = url + '&isLiterature=1';

            if (from == '不限' && to == '不限') {
                location.href = encodeURI(url + '&isAdvancedSearch=1');
            } else {
                location.href = encodeURI(url + '&isAdvancedSearch=1&publishdate=' + publishDate);
            }
        } else {
            // 不跳转
            // location.href = '#';
            alert('请至少设置一项检索条件!');
        }

    });

    // 提交表单 期刊搜索
    $('#a3').click(function () {
        var periodName = $('#periodName').val().trim();
        var periodISSN = $('#periodISSN').val().trim();
        var periodCN = $('#periodCN').val().trim();
        var periodUnit = $('#periodUnit').val().trim();
        var periodLocation = $('#periodLocation').val().trim();


        var dbCode = $('#album').val();
        var url = '/literature/library/period?dbCode=' + dbCode;
        if (periodName || periodISSN || periodCN || periodUnit || periodLocation) {
            if (periodName) {
                url += '&magaName=' + periodName;
            }
            if (periodISSN) {
                url += '&issn=' + periodISSN;
            }
            if (periodCN) {
                url += '&cn=' + periodCN;
            }
            if (periodUnit) {
                url += '&organizers=' + periodUnit;
            }
            if (periodLocation) {
                url += '&cbd=' + periodLocation;
            }
            url = url.indexOf('?&') ? url.replace('?&', '?') : url;
            console.log(url)
            // location.href = encodeURI(url + '&isAdvancedSearch=1&isPeriodSearch=1&pageSize=25');
            location.href = url + '&isAdvancedSearch=1&isPeriodSearch=1&pageSize=25';
        } else {
            // 不跳转
            // location.href = '#';
            alert('请至少设置一项检索条件!');
        }

    });
    // 表单重置
    $('#a2').click(function () {
        $('#reset').click();
    })
    // 回车 提交 此处取消 如不 会与头部回车冲突
    // $(document).bind("keydown", function (e) {
    //     if (e.keyCode == 13) {
    //         $('#a1').click();
    //     }
    // })

</script>
</body>
</html>