.width1198pxAuto {
  width: 1198px;
  margin: 0 auto;
}
.ogHeader {
  height: 49px;
  line-height: 49px;
  background: url(../images/organization/o-header-bg.gif) repeat-x;
}
.ogHeader .logo {
  margin-right: 28px;
}
.ogHeader .logo img {
  display: block;
}
.ogHeader .left a {
  color: #989898;
  font-size: 16px;
  margin-right: 36px;
}
.ogHeader .left a.cur {
  font-weight: bold;
  color: #FF3003;
}
.ogHeader .login {
  color: #989898;
  margin-left: 50px;
  position: relative;
  font-size: 14px;
}
.ogHeader .login a {
  color: #989898;
}
.ogHeader .login span {
  margin: 0 12px;
}
.ogHeader .login .personal {
  height: 42px;
  width: 164px;
  padding-top: 7px;
  position: relative;
  background: url(../images/organization/o-header-icon2.gif) no-repeat right center;
  cursor: pointer;
  font-family: simsun;
}
.ogHeader .login .personal img {
  float: left;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}
.ogHeader .login .personal .name {
  float: left;
  line-height: 32px;
  color: #999999;
  font-size: 12px;
  margin: 0;
}
.ogHeader .login .personal ul {
  display: none;
  position: absolute;
  left: 0;
  top: 49px;
  padding-top: 5px;
  width: 163px;
  background-color: #ffffff;
  z-index: 9999;
}
.ogHeader .login .personal ul a {
  display: block;
  padding-left: 46px;
  font-size: 14px;
  color: #828ea0;
  line-height: 44px;
  background-repeat: no-repeat;
  background-position: 18px center;
}
.ogHeader .login .personal ul a:hover {
  background-color: #F9E8E8;
}
.ogHeader .login .personal ul .l1 a {
  background-image: url(../images/organization/o-header-icon3.png);
}
.ogHeader .login .personal ul .l2 a {
  background-image: url(../images/organization/o-header-icon4.png);
}
.ogHeader .login .personal ul .l3 a {
  background-image: url(../images/organization/o-header-icon5.png);
}
.ogHeader .login .personal ul .l4 a {
  background-image: url(../images/organization/o-header-icon6.png);
}
.ogHeader .login .personal:hover ul {
  display: block;
}
.ogHeader .client {
  position: relative;
}
.ogHeader .client a {
  font-size: 14px;
  color: #989898;
}
.ogHeader .client .ewm {
  display: none;
  position: absolute;
  top: 49px;
  left: -20px;
  width: 206px;
  height: 219px;
  background-color: #ffffff;
  border-radius: 5px;
  z-index: 9999;
}
.ogHeader .client .ewm p {
  padding-top: 10px;
  line-height: 33px;
  text-align: center;
  font-size: 14px;
}
.ogHeader .client .ewm img {
  display: block;
  padding: 8px;
  margin: 0 auto;
  border: 2px solid #F4AF7F;
}
.ogHeader .client:hover .ewm {
  display: block;
}
.bannerArea {
  width: 100%;
  height: 420px;
  z-index: 10;
}
.bannerArea .transition {
  position: relative;
  height: 420px;
}
.bannerArea .transition .slide {
  width: 100%;
  height: 420px;
}
.bannerArea .transition .slide a {
  display: block;
  width: 100%;
  height: 420px;
  background-repeat: no-repeat;
  background-position: center;
}
.bannerArea .transition .slide .pic1 {
  background-image: url(../images/organization/o-home-banner.jpg);
}
.bannerArea .transition .slide .pic2 {
  background-image: url(../images/organization/o-home-banner.jpg);
}
.bannerArea .transition .slide .pic3 {
  background-image: url(../images/organization/o-home-banner.jpg);
}
.bannerArea .slidePager {
  position: absolute;
  right: 50px;
  width: 16px;
  top: 260px;
  z-index: 200;
  text-indent: -9999px;
}
.bannerArea .slidePager span {
  cursor: pointer;
  display: block;
  width: 6px;
  height: 6px;
  margin: 0 auto 12px;
  background: url(../images/icon3.png) no-repeat;
}
.bannerArea .slidePager .cycle-pager-active {
  width: 16px;
  height: 16px;
  background-image: url(../images/icon3c.png);
}
.s1 {
  padding-top: 39px;
  padding-bottom: 38px;
}
.s1 .wrap {
  width: 1140px;
  margin: 0 auto;
}
.s1 .wrap a {
  float: left;
  width: 360px;
  height: 195px;
  margin-right: 30px;
}
.s1 .wrap a p {
  margin-top: 67px;
  height: 58px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  line-height: 58px;
  padding-left: 102px;
  background: url(../images/icon5.png) no-repeat center;
}
.s1 .wrap a.a1 {
  background: url(../images/pic1.jpg) no-repeat;
}
.s1 .wrap a.a2 {
  background: url(../images/pic2.jpg) no-repeat;
}
.s1 .wrap a.a3 {
  background: url(../images/pic3.jpg) no-repeat;
  margin-right: 0;
}
.s1 .wrap a .tags {
  margin-top: 12px;
  text-align: center;
  height: 28px;
  line-height: 28px;
}
.s1 .wrap a .tags span {
  font-size: 14px;
  color: #ffffff;
  padding: 5px 8px;
  margin-left: 10px;
  background: rgba(0, 0, 0, 0.35);
}
.s1 .wrap a .tags span:first-child {
  margin-left: 0;
}
.s2 {
  height: 845px;
  background: url(../images/organization/o-home-bg1.jpg) no-repeat center;
}
.s2 h1 {
  height: 184px;
  line-height: 184px;
  font-size: 30px;
  text-align: center;
}
.s2 .picscroll {
  width: 1140px;
  margin: 0 auto;
  height: 330px;
  position: relative;
  margin-bottom: 40px;
}
.s2 .picscroll .btn {
  position: absolute;
  width: 44px;
  height: 82px;
  top: 97px;
  background-repeat: no-repeat;
}
.s2 .picscroll .prev {
  left: -122px;
  background-image: url(../images/organization/o-home-prev.png);
}
.s2 .picscroll .next {
  right: -122px;
  background-image: url(../images/organization/o-home-next.png);
}
.s2 .picscroll .piclist .li {
  width: 340px;
  height: 310px;
  background-color: #ffffff;
  margin-right: 30px;
  padding: 10px;
}
.s2 .picscroll .piclist .li .img {
  position: relative;
  display: block;
}
.s2 .picscroll .piclist .li .img img {
  display: block;
  width: 340px;
  height: 211px;
}
.s2 .picscroll .piclist .li .img i {
  position: absolute;
  width: 38px;
  height: 34px;
  bottom: 8px;
  right: 10px;
}
.s2 .picscroll .piclist .li .img .icon1 {
  background-image: url(../images/organization/o-home-icon1.png);
}
.s2 .picscroll .piclist .li .img .icon2 {
  background-image: url(../images/organization/o-home-icon1.png);
}
.s2 .picscroll .piclist .li .img .icon3 {
  background-image: url(../images/organization/o-home-icon1.png);
}
.s2 .picscroll .piclist .li .p1 {
  font-size: 16px;
  line-height: 40px;
  margin-top: 7px;
  text-align: justify;
}
.s2 .picscroll .piclist .li .p1 a {
  color: #000000;
}
.s2 .picscroll .piclist .li .p2 {
  color: #494949;
  line-height: 20px;
  text-align: justify;
}
.s2 .links {
  height: 172px;
  padding-right: 10px;
  padding-top: 42px;
}
.s2 .links a {
  float: left;
  width: 104px;
  text-align: center;
  margin-left: 66px;
  color: #333333;
}
.s2 .links a:first-child {
  margin-left: 0;
}
.s2 .links a img {
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.s2 .links a p {
  line-height: 40px;
  height: 40px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.s2 .more {
  display: block;
  width: 358px;
  height: 54px;
  margin: 0 auto;
  color: #000000;
  text-align: center;
  line-height: 54px;
  font-size: 20px;
  border: 1px solid #1A1A1A;
}
/*精选*/
.s3 {
  height: 462px;
  background: url(../images/bg2.jpg) no-repeat center bottom;
}
.s3 h1 {
  height: 110px;
  background: url(../images/bg2tit.jpg) no-repeat center;
  line-height: 110px;
  font-size: 30px;
  text-align: center;
}
.s3 .wrap {
  width: 1142px;
  margin: 0 auto;
}
.s3 .wrap a {
  float: left;
  width: 180px;
  padding-top: 96px;
  text-align: center;
  color: #ffffff;
  height: 45px ;
  line-height: 45px;
  font-size: 20px;
  margin-right: 12px;
  margin-bottom: 11px;
  background-repeat: no-repeat;
  background-position: center;
}
.s3 .wrap .a1 {
  background-image: url(../images/pic4.png);
}
.s3 .wrap .a2 {
  background-image: url(../images/pic5.png);
}
.s3 .wrap .a3 {
  background-image: url(../images/pic6.png);
}
.s3 .wrap .a4 {
  background-image: url(../images/pic7.png);
}
.s3 .wrap .a5 {
  background-image: url(../images/pic8.png);
}
.s3 .wrap .a6 {
  background-image: url(../images/pic9.png);
  margin-right: 0;
}
.s3 .wrap .a7 {
  background-image: url(../images/pic10.png);
}
.s3 .wrap .a8 {
  background-image: url(../images/pic11.png);
}
.s3 .wrap .a9 {
  background-image: url(../images/pic12.png);
}
.s3 .wrap .a10 {
  background-image: url(../images/pic13.png);
}
.s3 .wrap .a11 {
  background-image: url(../images/pic14.png);
}
.s3 .wrap .a12 {
  margin-right: 0;
  padding-top: 0;
  height: 141px;
  line-height: 141px;
  background-color: #CB9A6D;
  border-radius: 6px;
}
/*读好文*/
.s4 {
  height: 657px;
  background: url(../images/organization/o-home-bg3.jpg) no-repeat center bottom;
}
.s4 h1 {
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  background: url(../images/bg3tit.jpg) no-repeat center;
  height: 122px;
  line-height: 122px;
}
.s4 .wrap {
  width: 1170px;
  margin: 0 auto;
  padding-left: 30px;
}
.s4 .wrap ul li {
  float: left;
  width: 359px;
  margin-right: 30px;
  margin-bottom: 33px;
  background-color: #ffffff;
  height: 362px;
}
.s4 .wrap ul li .detail {
  padding: 0 12px;
}
.s4 .wrap ul li .detail .p1 {
  line-height: 43px;
  font-size: 16px;
}
.s4 .wrap ul li .detail .p1 a {
  color: #000000;
}
.s4 .wrap ul li .detail .p2 {
  line-height: 20px;
  height: 40px;
  overflow: hidden;
  color: #494949;
  text-align: justify;
}
.s4 .wrap ul li .detail .p3 {
  float: right;
  height: 21px;
  line-height: 21px;
  margin-top: 14px;
}
.s4 .wrap ul li .detail .p3 a {
  color: #494949;
}
.s4 .wrap ul li .detail .p3 img {
  border-radius: 50%;
  margin-right: 5px;
}
.s4 .wrap .more {
  display: block;
  width: 358px;
  height: 54px;
  margin: 10px auto 0;
  color: #CFD5D5;
  text-align: center;
  line-height: 54px;
  font-size: 20px;
  border: 1px solid #4595A5;
}
/*听精选*/
.s5 {
  height: 683px;
  background: url(../images/bg4.jpg) no-repeat center;
}
.s5 h1 {
  text-align: center;
  font-size: 30px;
  background: url(../images/bg4tit.jpg) no-repeat center;
  height: 183px;
  line-height: 160px;
}
.s5 .wrap {
  width: 1226px;
  margin: 0 auto;
  padding-left: 26px;
}
.s5 .wrap ul li {
  float: left;
  margin-right: -35px;
  position: relative;
  width: 224px;
  padding-right: 102px;
  background: url(../images/icon8.png) no-repeat right 4px;
}
.s5 .wrap ul li .img {
  display: block;
  width: 214px;
  height: 215px;
  border: 5px solid #CEA872;
}
.s5 .wrap ul li .img img {
  display: block;
  width: 214px;
  height: 215px;
}
.s5 .wrap ul li .icon {
  position: absolute;
  top: 178px;
  left: 5px;
}
.s5 .wrap ul li .info {
  padding-top: 19px;
}
.s5 .wrap ul li .info .p1 {
  line-height: 53px;
  text-align: center;
  font-size: 18px;
  height: 53px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.s5 .wrap ul li .info .p1 a {
  color: #000000;
}
.s5 .wrap ul li .info .p2 {
  height: 21px;
  line-height: 21px;
  text-align: center;
}
.s5 .wrap ul li .info .p2 a {
  color: #000000;
}
.s5 .wrap ul li .info .p2 img {
  border-radius: 50%;
  margin-right: 5px;
}
.s5 .wrap .more {
  display: block;
  width: 358px;
  height: 54px;
  margin: 87px auto 0;
  color: #000000;
  text-align: center;
  line-height: 54px;
  font-size: 20px;
  border: 1px solid #8DA67E;
}
/*看视界*/
.s6 {
  height: 1000px;
  background: url(../images/organization/o-home-bg5.jpg) no-repeat center bottom;
}
.s6 h1 {
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  background: url(../images/organization/o-home-bg5tit.jpg) no-repeat center;
  height: 160px;
  line-height: 160px;
}
.s6 .wrap {
  width: 1170px;
  margin: 0 auto;
  padding-left: 30px;
}
.s6 .wrap ul li {
  float: left;
  width: 360px;
  height: 315px;
  background-color: #ffffff;
  margin-right: 30px;
  position: relative;
  margin-bottom: 30px;
}
.s6 .wrap ul li .icon {
  position: absolute;
  top: 82px;
  left: 119px;
  width: 102px;
  height: 77px;
}
.s6 .wrap ul li .detail .p1 {
  font-size: 16px;
  line-height: 52px;
  padding: 0 12px;
  border-bottom: 1px solid #EDEDED;
}
.s6 .wrap ul li .detail .p1 a {
  color: #000000;
}
.s6 .wrap ul li .detail .p4 {
  height: 21px;
  line-height: 21px;
  padding-left: 12px;
  padding-top: 8px;
}
.s6 .wrap ul li .detail .p4 a {
  color: #494949;
}
.s6 .wrap ul li .detail .p4 img {
  border-radius: 50%;
  margin-right: 5px;
}
.s6 .wrap .more {
  display: block;
  width: 358px;
  height: 54px;
  text-align: center;
  line-height: 54px;
  color: #ffffff;
  font-size: 20px;
  margin: 37px auto;
  border: 1px solid #B1918F;
}
/*赏美图*/
.s7 {
  height: 832px;
  background: url(../images/bg6.jpg) no-repeat center;
}
.s7 h1 {
  text-align: center;
  font-size: 30px;
  background: url(../images/bg6tit.jpg) no-repeat center;
  height: 200px;
  line-height: 200px;
}
.s7 .wrap {
  width: 1198px;
  margin: 0 auto;
  overflow: hidden;
}
.s7 .wrap a {
  display: block;
}
.s7 .wrap .col a {
  position: relative;
}
.s7 .wrap .col a img {
  display: block;
  width: 100%;
  height: 100%;
}
.s7 .wrap .col a span {
  position: absolute;
  height: 40px;
  overflow: hidden;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.6);
  left: 0px;
  bottom: 0;
  width: 100%;
}
.s7 .wrap .col1 {
  width: 339px;
  margin-right: 12px;
}
.s7 .wrap .col1 .a1 {
  width: 339px;
  height: 267px;
  margin-bottom: 12px;
}
.s7 .wrap .col1 .a2 {
  width: 339px;
  height: 210px;
}
.s7 .wrap .col2 {
  width: 520px;
  margin-right: 12px;
}
.s7 .wrap .col2 .a1 {
  float: left;
  width: 254px;
  height: 177px;
  margin-right: 12px;
}
.s7 .wrap .col2 .a2 {
  margin-right: 0;
}
.s7 .wrap .col2 .a3 {
  margin-top: 12px;
  width: 520px;
  height: 300px;
}
.s7 .wrap .col3 {
  width: 315px;
}
.s7 .wrap .col3 .a1 {
  width: 315px;
  height: 215px;
  margin-bottom: 12px;
}
.s7 .wrap .col3 .a2 {
  width: 315px;
  height: 262px;
}
.s7 .more {
  display: block;
  width: 358px;
  height: 54px;
  margin: 43px auto 0;
  color: #000000;
  text-align: center;
  line-height: 54px;
  font-size: 20px;
  border: 1px solid #EDEBEB;
  background-color: #ffffff;
}
/*精彩微刊*/
.s8 {
  height: 608px;
  background: url(../images/bg7.jpg) no-repeat center;
}
.s8 h1 {
  text-align: center;
  font-size: 30px;
  background: url(../images/bg7tit.jpg) no-repeat center;
  height: 170px;
  line-height: 170px;
  color: #ffffff;
}
.s8 .wrap {
  width: 1198px;
  margin: 0 auto;
}
.poster-main {
  margin: 0 auto;
  position: relative;
}
.poster-main ul {
  padding: 0;
  margin: 0;
  background: none;
  position: relative;
}
.poster-main ul .poster-item {
  position: absolute;
  border: 1px solid #ffffff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.poster-main ul .poster-item a {
  display: block;
  height: 100%;
}
.poster-main ul .poster-item img {
  display: block;
  width: 100%;
  height: 100%;
}
.poster-main ul .poster-item p {
  position: absolute;
  height: 40px;
  overflow: hidden;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.6);
  left: 0px;
  bottom: 0;
  width: 100%;
}
.poster-btn {
  position: absolute;
  width: 51px;
  height: 99px;
  top: 102px;
  cursor: pointer;
  z-index: 10;
  opacity: 1;
}
.poster-prev-btn {
  left: -105px;
  background: url(../images/prev.png) no-repeat;
}
.poster-next-btn {
  right: -105px;
  background: url(../images/next.png) no-repeat;
}
.s8 .more {
  display: block;
  width: 358px;
  height: 54px;
  margin: 43px auto 0;
  color: #ffffff;
  text-align: center;
  line-height: 54px;
  font-size: 20px;
  border: 1px solid #ffffff;
}
.s9 {
  height: 600px;
  background: url(../images/organization/o-home-bg9.jpg) no-repeat center top;
}
.s9 h1 {
  text-align: center;
  font-size: 30px;
  height: 129px;
  line-height: 129px;
}
.libraryBox {
  width: 1198px;
  margin: 0 auto;
  background-color: #ffffff;
  height: 411px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.libraryBox .top {
  height: 49px;
  border-bottom: 5px solid #FBFBFB;
  padding-left: 22px;
  padding-right: 12px;
  font-size: 16px;
  line-height: 49px;
}
.libraryBox .top .choose {
  color: #DBDBDB;
}
.libraryBox .top .choose span {
  color: #666666;
}
.libraryBox .top .choose a {
  color: #000000;
  padding: 0 18px;
}
.libraryBox .top .choose a.cur {
  font-weight: bold;
  color: #E50212;
}
.libraryBox .top .more {
  float: right;
  color: #000000;
}
.libraryBox .content .article {
  width: 382px;
  height: 357px;
  position: relative;
}
.libraryBox .content .article:after {
  content: " ";
  position: absolute;
  width: 15px;
  height: 357px;
  background: url(../images/organization/o-home-shade.png) no-repeat;
  top: 0;
  right: -15px;
}
.libraryBox .content .article h2 {
  height: 50px;
  line-height: 50px;
  padding-left: 18px;
  font-size: 16px;
  background-color: #F5F5F5;
}
.libraryBox .content .article h2 span {
  padding-left: 14px;
  border-left: 3px solid #E50212;
}
.libraryBox .content .article ul {
  padding-top: 14px;
}
.libraryBox .content .article ul li {
  padding-left: 17px;
  line-height: 36px;
  height: 36px;
  font-size: 14px;
}
.libraryBox .content .article ul li a {
  color: #000000;
}
.libraryBox .content .book {
  width: 816px;
}
.libraryBox .content .book h2 {
  height: 50px;
  line-height: 50px;
  padding-left: 28px;
  font-size: 16px;
  background-color: #F5F5F5;
}
.libraryBox .content .book h2 span {
  padding-left: 14px;
  border-left: 3px solid #E50212;
}
.libraryBox .content .book ul {
  padding-top: 23px;
  padding-left: 36px;
}
.libraryBox .content .book ul li {
  float: left;
  width: 172px;
  margin-right: 20px;
}
.libraryBox .content .book ul li img {
  display: block;
  width: 172px;
  height: 230px;
  border-radius: 6px;
}
.libraryBox .content .book ul li p {
  text-align: center;
  font-family: simsun;
  line-height: 48px;
}
.libraryBox .content .book ul li p a {
  color: #000000;
}
.s10 {
  height: 600px;
  background: url(../images/organization/o-home-bg10.jpg) no-repeat center top;
}
.s10 h1 {
  text-align: center;
  font-size: 30px;
  height: 129px;
  line-height: 129px;
}
.s11 {
  height: 600px;
  background: url(../images/organization/o-home-bg11.jpg) no-repeat center top;
}
.s11 h1 {
  text-align: center;
  font-size: 30px;
  height: 129px;
  line-height: 129px;
  color: #ffffff;
}
.ogFooter {
  padding-top: 41px;
  height: 126px;
  background-color: #464342;
}
.ogFooter p {
  line-height: 30px;
  text-align: center;
  color: #8b8b8b;
  font-size: 14px;
}
