@charset "utf-8";
html { }
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, input, button, textarea, p, th, td, form, body { padding: 0px; margin: 0px; }
body { font-family:"微软雅黑"; font-size:12px; color:#000; }
img { border:none; }
strong,i { font-style:normal }
ul, li, ol { list-style-type: none; }
table { border-collapse: collapse; border-spacing: 0 }
input::-moz-focus-inner {border:0;padding:0;margin:0;}
input::-ms-clear {display:none;}
input[type="button"] { cursor:pointer; }
input, textarea { outline:none; }
/*input { border:0; background-color:transparent;}*/
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { zoom: 1; }
a { text-decoration:none; outline:none; }
a:hover { text-decoration:none; }
.left { float:left; }
.right { float:right; }
.positionR { position:relative; }
.positionA { position:absolute; }
.padding10px { padding:10px; }
.paddingTB10px { padding:10px 0; }
.paddingL10px { padding-left:10px; }
.paddingLR10px { padding:0 10px; }
.paddingLR15px { padding:0 15px; }
.paddingB10px { padding-bottom:10px; }
.marginT10px { margin-top:10px; }
.marginT15px { margin-top:15px; }
.overflowHidden { overflow:hidden; }
.positionR { position:relative;}
.textAlignC { text-align:center; }
.displayB { display:block; }
.displayN { display:none; }
.fontWeightN { font-weight:normal; }
.fontSize14px { font-size:14px; }
.colorGrey { color:#999999; } /* grey */
.colorYellowishBrown { color:#c29721; } /* yellowish-brown */
.colorBlackRed { color:#331303; }
.colorRed { color:#e9254b; }
.colorOrange { color:#ed5637; }
.colorWhite { color:#fff; }
.colorYellow { color:#cd4502; }
.colorOrange1 { color:#ff9702; }
.colorBlue { color:#0386d9; }
.bgColorBlue { background-color:#5daae2; }
.bgColorDeepBlue { background-color:#5296d0 }
.bgColorGreen { background-color:#55d3a6; }
.bgColorDeepGreen { background-color:#4bbe93; }
.bgColorFruitGreen { background-color:#97b832; }
.bgColorDeepFruitGreen { background-color:#85a32c; }
.bgColorBrown { background-color:#cd913c; }
.bgColorDeepBrown { background-color:#b88035; }
.bgColorLightGray { background-color:#f9f9f9; }
.borderR1SGrey { border-right:1px solid #dfdfdf; }
.borderRed { border:1px solid #e60000; }
.borderWhite { border:1px solid #fff; }
.borderRed1 { border:1px solid #feb38c; }
.width1190pxAuto { width:1190px; margin:0 auto; }
.width1046pxAuto { width:1046px; margin:0 auto; }
.width808pxAuto { width:808px; margin:0 auto; }
.width1000pxAuto { width:1000px; margin:0 auto; }
/*mask layer*/
.shade { background-color:rgba(191,191,191,0.5); position:absolute; _background:#bfbfbf; _filter:alpha(opacity=50); left: 0px; top: 0px; }

/*page layer*/
.page { color: #7F7F7F; text-align: center; padding-top: 50px; padding-right: 3px; padding-bottom: 50px; padding-left: 3px; }
.page a { color: #6a6a6a; margin-right: 5px; padding: 13px; text-decoration: none; font-size: 14px; font-weight: bold; background-color:#f1f1f1; }
.page a:hover { color: #fff; background-color:#666666; }
.page a:active { background: none repeat scroll 0 0 #0061de; border-color: #000; border-style: solid; border-width: 1px; color: #fff; }
.page span.current { background-color: #666666; color: #fff; margin-right: 5px; padding: 13px; text-decoration: none; font-size: 14px; font-weight: bold; }
.page span.disabled { color: #378713; margin-right: 3px; padding: 2px 6px; }
/*header*/
.pheader{ height: 71px; background-color: #424242;}
.pheader .phwrap{ width:1086px; margin: 0 auto; padding-left: 119px; background: url(../images/logo2.png) no-repeat left center;height: 71px;}
.pheader .phwrap .hl{ line-height: 71px; height:71px}
.pheader .phwrap .hl a{ color: #ffffff; font-size: 16px; margin-right: 35px;}
.pheader .phwrap .hl a.cur{ font-weight: bold; color: #ff3000;}
.pheader .phwrap .hr{ line-height: 71px;}
.pheader .phwrap .hr a{ float: right; font-size: 14px; color: #ffffff;}
.pheader .phwrap .hr .line{ float: right; width: 0; height: 16px; border-left: 1px solid #ffffff; margin:28px 12px 0;}
.pheader .phwrap .hr .search{ margin-right: 16px; position: relative; width: 308px; height: 37px; margin-top: 18px;}
.pheader .phwrap .hr .search input{float: right; border: none;width:0px; height: 37px; line-height: 37px; border-radius: 18px; transition: all .3s ease-in-out;}
.pheader .phwrap .hr .search input.click{ width:  292px; padding: 0 8px ;}
.pheader .phwrap .hr .search .btn{ position: absolute; width: 20px; height: 20px; background: url(../images/icon1.png) no-repeat; top: 9px; right: 12px;}
.pfooter{ padding-top: 48px; height:120px;background-color:#464342 ;}
.pfooter p{ line-height: 35px; text-align: center; font-size: 14px; color: #B2B1B1;}
