<!DOCTYPE html>
<html>

<head>
    <%- include('../layouts/headLayout', {}) %>
        <link rel="stylesheet" type="text/css" href="/css/bookstore/books.css" />
        <link rel="stylesheet" href="/lib/layui/css/layui.css" media="all">
        <link rel="stylesheet" type="text/css" href="/css/bookstore/mylayer.css" />
        <script src="/lib/layui/layui.js"></script>
        <style>
            .bd_weixin_popup .bd_weixin_popup_main {
                padding: 9px !important;
            }
        </style>
</head>

<body>
    <%- include('../layouts/navLayout', {current: null}) %>
        <div class="container">
            <ul class="breadcrumb clearfix">
                <li><a href="#">首页</a></li>
                <li>></li>
                <li><a href="#">图书</a></li>
            </ul>
            <div class="main-header clearfix">
                <div class="book-img" id="book-img">
                    <div class="book-smallimg"><img class="book-image" src="" alt="" /></div>
                    <div class="book-bigimg"><img class="book-image" src="" alt="" /></div>
                    <a href="#"><img src="" class="book-img-search" alt=""></a>
                </div>
                <div class="book-infos">
                    <div id="bookInfo">
                        <h1 class="book-title"></h1>
                        <div class="book-des"></div>
                        <div class="book-author"></div>
                        <div class="book-realprice">
                            电子版价格：<span>￥<i class="realprice"></i></span>
                            <span class="oldprice">原价：<strong>￥<i></i></strong></span>
                        </div>
                        <div class="book-activity-tip book-activity-sale clearfix">      
                            <span class="left">限时特惠</span>
                            <div class="countdown right">
                                仅剩<span class="day"></span>天<span class="hour"></span>时<span class="minute"></span>分<span class="second"></span>秒
                            </div>
                        </div>
                        <div class="book-activity-tip book-activity-free clearfix">      
                            <span class="left">在线阅读 限时免费</span>
                            <div class="countdown right">
                                仅剩<span class="day"></span>天<span class="hour"></span>时<span class="minute"></span>分<span class="second"></span>秒
                            </div>
                        </div>
                        <div class="book-vip-price book-vip-sale clearfix">      
                            <span class="icon"></span>
                            VIP尊享价：<span class="realprice">￥<i></i></span>
                            <span class="oldprice">原价：<strong>￥<i></i></strong></span>
                        </div>
                        <div class="book-vip-price book-vip-free clearfix">      
                            <span class="icon"></span>
                            VIP会员&nbsp;<span class="free">免费</span>
                            <span class="oldprice">原价：<strong>￥<i></i></strong></i></span>
                        </div>
                        <div class="book-vip-tip clearfix"> 
                            <span class="left">开通VIP会员，该书尊享折特惠</span>     
                            <a class="right" href="" target="_blank">立即开通</a>
                        </div>
                        <div class="book-into-detail">
                            <div class="book-detail-line clearfix">
                                <div class="book-detail-label w380">
                                    出版社:<a href="javascript:;" class="book-publisher"></a>
                                </div>
                                <div class="book-detail-label">
                                    出版时间:<i class="book-pubtime"></i>
                                </div>
                            </div>
                            <div class="book-detail-line clearfix">
                                <div class="book-detail-label w380">
                                    ISNB:<i class="isbn"></i>
                                </div>
                                <div class="book-detail-label">
                                    字数:<i class="wordcount"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="book-btns clearfix">
                        <div class="book-buy" id="buyBtn1">
                            立即购买
                        </div>
                        <div class="book-btn-more clearfix">
                            <a class="book-btn-read">
                            在线阅读
                        </a>
                            <a class="book-btn-download" id="downloadBtn">
                            下载本书
                        </a>
                        </div>
                        <span class="book-collect"></span>
                        <div class="book-share">
                            <span class="book-share-text">分享</span>
                            <div class="book-share-more bdsharebuttonbox">
                                <a href="#" class="book-share-item qzone" data-cmd="qzone"></a>
                                <a href="#" class="book-share-item weixin" data-cmd="weixin"></a>
                                <a href="#" class="book-share-item tsina" data-cmd="tsina"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="book-support">
                    <img src="/images/bookstore/bookstore1.png" alt="" style="margin-top: 13px;">
                </div>
            </div>
            <div class="suggest">
                <div class="suggest-title">推荐阅读</div>
                <div class="slide-wrapper" id="slide">
                    <div class="slide">
                        <ul class="imageList">
                        </ul>
                    </div>
                    <div class="btns">
                        <a href="javascript:; " class="leftBtn "></a>
                        <a href="javascript:; " class="rightBtn "></a>
                    </div>
                </div>
            </div>
            <div class="main-body clearfix ">
                <div class="sidebar ">
                    <div class="sidebar-title ">
                        图书人气榜
                    </div>
                    <div class="sidebar-body " id="bookHotBankList"></div>
                </div>
                <div class="main-content ">
                    <div class="main-nav clearfix ">
                        <div class="main-nav-items clearfix ">
                            <a href="javascript:;" class="main-nav-item main-nav-item-select ">
                            简介
                        </a>
                            <a href="javascript:;" class="main-nav-item">
                            作者
                        </a>
                            <a href="javascript:;" class="main-nav-item">
                            目录
                        </a>
                            <a href="javascript:;" class="main-nav-item">
                            书评
                        </a>
                        </div>
                        <div class="main-nav-btns clerfix ">
                            <div class="man-nav-btn man-nav-btn-read ">在线阅读</div>
                            <div class="man-nav-btn " id="buyBtn2">立即购买</div>
                        </div>
                    </div>
                    <div class="book-detail">
                        <div class="section">
                            <p id="bookDes"></p>
                            <div class="book-title">
                                <div class="book-title-text ">
                                    推荐语
                                </div>
                            </div>
                            <p id="recommendWord"></p>
                        </div>
                        <div class="section">
                            <div class="book-title ">
                                <div class="book-title-text ">
                                    作者
                                </div>
                            </div>
                            <p id="authorDes" class="authorDes contentBox "></p>
                            <a href="javascript:; " class="book-detail-more ">
                            查看全部
                        </a>
                        </div>
                        <div class="section">
                            <div class="book-title ">
                                <div class="book-title-text ">
                                    目录
                                </div>
                            </div>
                            <div id="catalog" class="catalog contentBox "></div>
                            <a href="javascript:; " class="book-detail-more ">
                            查看全部
                        </a>
                        </div>
                        <div class="section">
                            <div class="book-title ">
                                <div class="book-title-text ">
                                    书评
                                </div>
                                <span class="book-write ">撰写书评</span>
                            </div>
                            <div class="book-comment " id="bookCommentList"></div>
                            <div class="catalog-more " id="loadingMore">
                                查看更多<img src="/images/bookstore/bookstore11.png " alt="">
                            </div>
                            <div class="comment-write ">
                                <img src="/images/bookstore/bookstore6.png " alt=" " class="comment-write-title ">
                                <div class="comment-block ">
                                    <textarea placeholder="说两句吧... " class="comment-textarea" id="commentInput" cols="30 " rows="10 "></textarea>
                                    <div class="comment-bottom clearfix ">
                                        <div class="comment-score clearfix">
                                            <span class="comment-score-text">我的评分：</span>
                                            <div class="rate" id="rate"></div>
                                        </div>
                                        <a href="javascripr:; " class="comment-btn" id="commentBtn">提交</a>
                                        <div class="comment-number "><i>0</i>/400</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <%- include('../layouts/footerLayout', {}) %>
            <input type="hidden" value="<%=viewModel.user.name%>" id="username">
            <script src="/js/plugin/jquery.methods.js"></script>
            <script src="/js/slide.js "></script>
            <script src="/js/detail/bookDetail.js"></script>
</body>

</html>