<!DOCTYPE html>
<html>
<head>
    <%- include('../layouts/headLayout', {}) %>
    <link rel="stylesheet" type="text/css" href="/css/personalCenter/personal.css"/>
    <script src="/js/divSelect.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jquery.promptToggle.js" type="text/javascript" charset="utf-8"></script>
</head>
<body bgcolor="#F4F4F4">
    <div class="modal cancelfollowmodal">
        <a href="javascrpt:;" class="close"></a>
        <h1 class="mtit"></h1>
        <div class="text">确认要取消对家庭幸福指南的关注吗？</div>
    	<div class="bottom">
            <div class="btn">
                <a href="javascript:;" class="sure left">确定</a>
                <a href="javascript:;" class="cancel right">取消</a>
            </div>
        </div>
    </div>
<script>
   'use strict'   
</script>
</body>
</html>