<div class="footer">
	<p>出版：《中国学术期刊（光盘版）》电子杂志社有限公司</p>
	<p>京ICP证040431号 <a href="https://piccache.cnki.net/index/images/gb/271.jpg" target="_blank">网络出版服务许可证(总)网出证(京)字第271号 </a>京公网安备11010802020460号</p>
</div>