<div class="orgbanner" style="background: url(<%= viewModel.data.orgBaseInfo.institution.innerbackgroundpic %>) no-repeat center;background-size: cover">
    <!-- <img class="avatar" src="<%= viewModel.data.orgBaseInfo.institution.logopic %>" />
    <h1 class="name"><%= viewModel.data.orgBaseInfo.institution.institutionname %></h1> -->
</div>